


<header>
    <p class="logo"></p>
    <div class="right__header">
        <div class='butt__container'>
            <div class='left__block' (click)='globalServ.headCompShow(1)'> 
                
                <app-notification-one></app-notification-one>
            
            </div>
            <div class="right__block" >

                <app-notification-two></app-notification-two>

            </div>

            <div class='header__hide' [ngClass]="{hiddenComp:globalServ.hidden}">
                <div *ngIf='globalServ.activeComp===1'>

                    <div class="left__comp">
                        <div class="header">
                            <p>Новые сообщения</p>
                        </div>
                        <div class="messages__body">
                        <div class="message__item" *ngFor='let item of items, let i = index'>
                            <div class="avatar">
                                <img src={{item.avaSrc}} >
                            </div>
                            <div class="info">
                                <p class="name">{{item.name}}</p>
                                <p class="caption">{{item.caption}}</p>
                                <p class="date">{{item.time}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="show__all">
                        <a routerLink="/email" (click)='globalServ.cancelNotife()'>Смотреть все</a>
                    </div>
                    </div>
                    
                
                </div>
                <div *ngIf='globalServ.activeComp===2'>  

                    <app-header-right></app-header-right>

                </div>
                <div class='hideClicker' (click)='globalServ.cancelNotife()'></div>
            </div>
        </div>  
        <div class="header__profile">
            <app-header-profile></app-header-profile>
        </div>
    </div>
</header>