 <!-- Создать удалить папку -->
 
 <div class="folder_creater_btn" (click)='open_folders_settings()'>
        <p>Создать папку</p>
        <button class="plus">
          <span class="la la-lg la-plus"></span>
        </button>
 </div>
 
 <div class="pop" [ngClass]="{ visible: folder_create }">
    <div class="create-inbox" [ngClass]="{ visible: folder_create }" >
      <div class="header">
      <p class='title'>Создать папку</p>
      </div>
      <div class="row__names">
        <p>Название</p>
        <input type="text" [(ngModel)]="this.folder_name_for_post" autofocus >
      </div>
      <div class="to_invest_sett" >
        <p class='title_inv' (click)='to_invest_open($event)'>Вложить в другую папку</p>
          <div class="to_invest_folders" [ngClass]="{ visible: folder_invest }">
            <p class='title_txt'>Выберите папку</p>
            <div class="folders_body">
              <ul *ngFor="let folder of this.user_folders">
                    <li>
                      <div class="wrapper" data-id={{folder.id}} (click)='get_folder_id($event)'>
                      <span class='folders_span'></span>
                          <p class='folders_name'>{{folder.title}}</p>
                      </div>
                                  <ul *ngFor="let folder_1level of folder.childs">
                                  <li>
                                    <div class="wrapper" data-id={{folder_1level.id}} (click)='get_folder_id($event)'>
                                    <span class='folders_span'></span>
                                  <p class='folders_name' >{{folder_1level.title}}</p>
                                    </div>
                                      <ul *ngFor="let folder_2level of folder_1level.childs">
                                        <li>
                                          <div class="wrapper" data-id={{folder_2level.id}} (click)='get_folder_id($event)'>
                                          <span class='folders_span'></span>
                                          <p class='folders_name'>{{folder_2level.title}}</p>
                                          </div>

                                          <ul *ngFor="let folder_3level of folder_2level.childs">
                                              <li>
                                                <div class="wrapper" data-id={{folder_3level.id}} (click)='get_folder_id($event)'>
                                                <span class='folders_span'></span>
                                                <p class='folders_name' >{{folder_3level.title}}</p>
                                                </div>
                                                <ul *ngFor="let folder_MAXlevel of folder_3level.childs">
                                                    <li class='max_level_closed'>
                                                      <div class="wrapper non_activ">
                                                        <span class='folders_span'></span>
                                                      <p class='folders_name' data-id={{folder_MAXlevel.id}} >{{folder_MAXlevel.title}}</p>
                                                    </div>
                                                    </li>
                                                  </ul>

                                              </li>
                                            </ul>
                                        </li>
                                      </ul>
                                  </li>
                                  </ul>
                    </li>
                    
              </ul>
            </div>
          </div>
      </div>
      <p class='where_invest_txt'>Будет вложено в папку: {{this.folder_name}}</p>
      <button class='settings'><span class='la la-cog'></span>Настроить автоматическую сортировку</button>
    
        <div class="bottom__panel">
          <button class='create' (click)='create_folder()'>Создать</button>
          <button class='cancel' (click)="closeViewer($event)">Отмена</button>
        </div>
      </div>
</div>