
@import '../mixins';
    

.add_email {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #092955 0%, #0476C3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-left: 60px;
    box-sizing: border-box;

    .header {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 20px;
    }
}

.form_body {
    width: 600px;
    // height: 370px;
    background: #F7FBFE;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.selected {
    width: 100%;
    height: 40px;
    padding: 0 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9E6F7;
    
    input {
        display: none;
    }

    display: flex;

    label {
        display: flex;
        height: 100%;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: 13px;
        text-align: center;
        color: #9CABC2;
        position: relative;
        margin-right: 35px;
        align-items: center;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 2px;
            background:#0476C3; 
            display: none;
        }

    }
    input:checked + label {
        color: #0476C3;
    }

    input:checked + label::before {
        display: block;
    }
}

.setting_one_page,
.setting_two_page {
    width: 100%;
    background: #F7FBFE;
    flex: 1;
    display: none;
    flex-direction: column; 
    align-items: center;

    &.active {
        display: flex;
    }
}

.setting_one_page {
    box-sizing: border-box;
    padding: 24px 136px 50px 136px;
    flex-direction: column;
    justify-content: space-between; 
    

    >p {
        color: #262626;
        font-size: 13px;
        line-height: 1;
        align-self: flex-start;
        margin-bottom: 20px;
    }



}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control.is-invalid~.invalid-feedback {
    display: block;
}

.setting_two_page {
    box-sizing: border-box;
    padding: 24px 136px 50px 136px;
    align-items: flex-start;

    .title {
        color: #262626;
        font-size: 13px;
        line-height: 1;
        align-self: flex-start;
        margin-bottom: 10px;
    }

    .next_step {
        align-self: center;
    }
}

.input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    p {
        font-size: 13px;
        color: #6B7FA0;
        line-height: 1;
    }

    input {
        width: 100%;
        height: 34px;
        margin-top: 1px;
        box-sizing: border-box;
        padding: 0 10px;
        color: #262626;
        background: #FFFFFF;
        border: 1px solid #D9E6F7;
        box-sizing: border-box;
        border-radius: 2px;
        color: #262626;

    }

    &.last {
        margin-bottom: 30px;
    }

    
}

.password_group {
/*    display: flex;*/
    align-items: center;
    position: relative;

    i { font-size: 18px;
        position: absolute;
        right: 9px;
        top: 9px;
        color: #DADADA;

        &:hover {
            color: #0476C3;
        }
}
}

.next_step {
    height: 28px;
    padding: 0 27px;
    box-sizing: border-box;
    line-height: 28px;
    font-size: 13px;
    width: auto;
    max-width: 135px;
    color: #F7FBFE;
    background: #0476C3;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

}


.selected_group {
    width: 100%;
    display: flex;
    margin-bottom: 10px;

    .input_group {
        flex: 1;
        margin-right: 10px;
        
    }

    .input_group:last-child {
        margin-right: 0px;
    }
}

select {
    background: #FFFFFF;
/* цвет разделителя */
    border: 1px solid #D9E6F7;
    box-sizing: border-box;
    border-radius: 2px;
    height: 34px;
    color: #262626;
    margin-top: 1px;


    &:disabled {
        color: #262626;
    }

    &:checked {
        color:red;
    }

    option {
        color: rgba(196, 206, 223, 0.5);
    }
}


.label_group {
    display: flex;
    user-select: none;
    font-size: 13px;
    color: #262626;
    align-items: center;
    margin-bottom: 32px;

    label {
        display: flex;
        align-items: center;
    }
    

    input {
        display: none;
    }

    input + label .custom_checkbox {
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid #0476C3;
        box-sizing: border-box;
        border-radius: 2px;
        margin-right: 10px;
    }

    input:checked + label .custom_checkbox {
        background: url('../../../assets/checked.svg') no-repeat center, #0476C3;
        background-size: 12px 9px;
    }
}


.hide_inputs {
    display: flex;

    .input_group:not(:last-child) {
            margin-right: 10px;
    }
}


::-webkit-input-placeholder  {color: rgba(196, 206, 223, 0.5);}
::-moz-placeholder          {color: rgba(196, 206, 223, 0.5);}
:-moz-placeholder           {color: rgba(196, 206, 223, 0.5);}
:-ms-input-placeholder      {color: rgba(196, 206, 223, 0.5);}


