
@import '../mixins';
@import '../../../colors';





.template {
    width: 100%;
    height: 900px;
    display: flex;

    &__list {
        width: 350px;
        flex-shrink: 0;
        border-right: 1px solid #d9e6f7;
        // box-shadow: -7px 0 18px 4px rgba(0, 0, 0, 0.1) inset;
        background: #f7fbfe;
        z-index: 7;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    &__container {
        flex: 1;
        background: #f7fbfe;
    }
}

.template_settings {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.list__prev {
    width: 100%;
    height: 50px;
    background: #F7FBFE;
    padding-left:20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: .4s;
    position: relative;
    flex-shrink: 0;

    &:hover {
        background: #E0E0E0;
    }

    &.checkbox_selected {
            background: #CFCFCF;
    }

    &.active_template {
        background: #CFCFCF;
    }
}

.checkbox_block {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: url('../../../assets/template_icon.svg') no-repeat center , #6B7FA0;
    background-size: 18px 18px;
    transition: .4s;
    flex-shrink: 0;

    &:hover {
        background: url('../../../assets/checked.svg') no-repeat center , #2D5A81;
    background-size: 18px 18px;
    }

}

.hidden_checkbox:checked + .checkbox_block {
    background: url('../../../assets/checked.svg') no-repeat center , #2D5A81;
    background-size: 18px 18px;
}


.hidden_checkbox {
    display: none;
}

.setting_and_txt_group {
    margin-left: 20px;
    height: 50px;
    flex: 1;
    border-bottom:1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
}

.text_info {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.setting {
    width: 20px;
    height: 10px;
    flex-shrink: 0;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 5px;

    &:hover {
            background: #6B7FA0;
    }

    span {
        width: 100%;
        height: 100%;
        line-height: 1;
        position: relative;

        &::before {
            width: 100%;
            height: 100%;
            line-height: 1;
            position: absolute;
            left: 0;
            bottom: 50%;
        }
    }
}

.hidden_settings {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 45px;
    width: 150px;
    background: white;
    display: flex;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: -7px 0 18px 4px rgba(0, 0, 0, 0.1);


        &__btn {
            line-height: 18px;
            width: 100%;
            color: #262626;
            padding: 5px;
            cursor: pointer;
            background: white;
            transition: .4s;
            margin: 0;
        }

}
.settings_checkbox + .hidden_settings {
        display: none;
}

.settings_checkbox:checked + .hidden_settings {
    display: flex;
}

.settings_checkbox:checked + .hidden_settings + .setting {
    background: #6B7FA0;
}


.favorite_template {
    background: #F8F3BA;
    transition: .4s;
    &:hover {
        background: #F9E977;
    }
    &.active_template {
        background: #F9E977;
    }

    &.checkbox_selected {
        background: #F9E977;
    }
}



.wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}




