<div class="header">

    <button  type='button'
    title="Выделить все"
    class='mini_btn'
    (click) = 'this.select_all_inputs_do()'
    >
        <span class='la la-circle-o'
        *ngIf="this.toggle_checked_inputs_flag"
        ></span>

        <span class='la la-check-circle'
        *ngIf="!this.toggle_checked_inputs_flag"
        ></span>

      </button>
      <button  type='button'
    title="Что-то"
    class='mini_btn'
    (click) = 'toggle_header_menu()'
    >
        <span class='la la-caret-down'
        *ngIf="!this.hidden_top_menu"
        ></span>
        <span class='la la-caret-up'
        *ngIf="this.hidden_top_menu"
        ></span>
      </button>

      <div class="top_hidden_menu"
      [ngClass]="{active: this.hidden_top_menu}"
      >
        <button class='letterMenuButt' (click) = 'this.select_canc_all_inputs_do(true)' >Выделить все письма</button>
        <button class='letterMenuButt' (click) = "this.filters_input('favor')">Избранные</button>
        <button class='letterMenuButt' *ngIf="this.extended_options" (click) = "this.filters_input('unread')">Непрочитанные</button>
        <button class='letterMenuButt' *ngIf="this.extended_options" (click) = "this.filters_input('attachments')">С вложениями</button>
        <button class='letterMenuButt' (click) = 'this.select_canc_all_inputs_do(false)'>Снять выделение</button>
    </div>
      

      <div class="input_group">
      <input type="text" name="" id="" placeholder="Поиск"
      [formControl]='searchLettersInput'
      (focus) = 'hide_left_btn(true)'
      (blur) = 'hide_left_btn(false)'
      >
      <span class='la la-search' *ngIf="this.search_work === false"></span>
      <span class='la la-check' *ngIf="this.success_search === true"></span>
      <span class='la la-frown-o' *ngIf="this.not_success_search === true"></span>
      </div>
      <div class="right_btn_group" *ngIf="!hide_left_btn_status">
          <button  type='button'
          title="Обновить"
          (click) = 'this.get_message()'
          >
              <span class='la la-refresh'></span>
            </button>
            <button  type='button'
          title="Наверх"
          (click) = 'scroll_up()'
    >
        <span class='la la-long-arrow-up'></span>
      </button>
      </div>
</div>
