<div class="signature">



<app-signature-list 
[email_id] = 'this.email_id' 

*ngIf="this.global_sett !== 'true'">

</app-signature-list>
    
<div class="empty" *ngIf="this.global_sett !== 'true'">
<router-outlet></router-outlet>
</div>

<div class="settings" *ngIf="this.global_sett === 'true'">
    <div class="settings__header">
        <a  [routerLink]="['/email-setting']" >Настройки почты</a> <span> / </span>
        <a  [routerLink]="['/email-setting/sign-preview']" routerLinkActive="router-link-active" >Подпись</a> <span> / </span>
        <a class='active'>Глобальные настройки</a>
    </div>

    <form class="setting__body" [formGroup]="sign_form">
        <h2>Выберите подпись по умолчанию</h2>
        <span>E-mail</span>
        <select name="email"  formControlName='email_selected'>
            <option *ngFor='let email of this.email_address, let i = index'  [ngValue] = "email">{{email}}</option>
        </select>
        <span>Подпись для выбранного email</span>
        <select name="sign"  formControlName='sign_selected' [ngClass]="{invalid_validations: this.valid.sign_selected.errors && this.submitted}">
                <option *ngFor='let sign of this.emailServ.signature_list, let i = index'  [ngValue] = "sign.id">{{sign.title}}</option>
        </select>
        <button (click) = 'this.change__signature()'>Сохранить</button>
    </form>
</div>

</div>


