<nav>
        <div class="icon__menu" (click)='show($event)'>
                <img class='icon_m' src='./assets/menu.png'>
        </div>

        <div class='nav__items'>
                <div class="icon__nav"
                        routerLink="email"
                        routerLinkActive="active"
                ><span class="la la-lg la-envelope-o"></span></div>
                <div class="icon__nav"><span class="la la-lg la-calendar"></span></div>

                <div class="nav__buttons" [ngClass]='{hidenBlock:hidden}'>
                        <a routerLink="email"
                        routerLinkActive="active"
                        >Почта</a>
                        <a routerLink="/" (click)='clearLocalStorage(1, $event)' >Календарь</a>
                </div>
        </div>
</nav>