<nav>
        <div class="icon__menu" (click)='show($event)'>
                <img class='icon_m' src='./assets/menu.png'>
        </div>

        <div class='nav__items'>
                        <div class="icon__nav"
                        routerLink="home"
                        routerLinkActive="active"
                ><span class="la la-lg la-windows"></span></div>

                <div class="icon__nav"
                        routerLink="email"
                        routerLinkActive="active"
                ><span class="la la-lg la-envelope-o"></span></div>

    

                <div class="icon__nav"
                        routerLink="setting"
                        routerLinkActive="active"
                ><span class="la la-lg la-cogs"></span></div>

                <div class="nav__buttons" [ngClass]='{hidenBlock:hidden}'>
                                <a routerLink="home"
                                routerLinkActive="active"
                                >Домой</a>
                        <a routerLink="email"
                        routerLinkActive="active"
                        >Почта</a>

                        
                        <a routerLink="setting"
                        routerLinkActive="active"
                        
                        >Настройки</a>
                </div>
        </div>
</nav>