@import '../../colors';

$marg-b:15px;

nav {
    position: fixed;
    left: 0;
    top:60px;
    width: 60px;
    height: 100%;
    background: $nav-bg;   
    z-index: 5;  
}

.nav__items {
    display: flex;
    flex-direction: column;
    transition: .5s;
    height: 100%;
    background: $nav-bg;
    


    img {
        width: 45px;
        height: 45px;
    } 

    &:hover .nav__buttons {

        width: 180px;
        overflow: visible;
        
    }   
}

.hidenBlock {
    transition: .4s;
    width: 180px !important;
    overflow: visible !important;
    background: $nav-bg;

    

}

.icon__menu {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
    }
}

.nav__buttons {
    position: absolute;
    left: 60px;
    width: 0px;
    height: 100%;
    background: #4b4d4f;
    border-right: 1px solid #4b4d4f;
    transition: .5s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    

    a {

        width: 100%;
        text-align: left;
        height: 60px;
        line-height: 60px;
        transition: .5s;
        box-sizing: border-box;
        position: relative;
        color: $nav-color;
        &::before {
                content: '';
                position: absolute;
                top:0;
                right: 100%;
                width: 60px;
                height: 100%;
                transition: .5s;
        }
        &::after {
            content: '';
                position: absolute;
                top:0;
                right: 100%;
                width: 60px;
                height: 60px;
                z-index: 14;
        }
        &:hover {
            background: #0b0d0f;
        }
        &:hover::before {
            background: #0b0d0f;
        }
    }
}

.icon__nav {
    
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
   
}

.active {
    background: #0b0d0f;
    &::before {
        background: #0b0d0f;
    }
}

