<nav>
        <div class="icon__menu" (click)='show($event)'>
                <img class='icon_m' src='./assets/menu.png'>
        </div>

        <div class='nav__items'>
                <div class="icon__nav" [class.active]='dataServ.menuActive===0'><span class="la la-lg la-envelope-o"></span></div>
                <div class="icon__nav" [class.active]='dataServ.menuActive===1'><span class="la la-lg la-calendar"></span></div>

                <div class="nav__buttons" [ngClass]='{hidenBlock:hidden}'>
                        <a routerLink="email" [class.active]='dataServ.menuActive===0'>Почта</a>
                        <a routerLink="/"  [class.active]='dataServ.menuActive===1'>Календарь</a>
                </div>
        </div>
</nav>