<!-- 
<div class="template">
  <div class="template__list">
      <div class="clickable_cancel_block" (click)='close_menu()' [ngClass]="{visible: this.open_hidden_menu}"></div> 
    <app-email-header
    (search_function) = 'this.search_in_templates($event)'
    [success_search] = 'this.succes_search_flag'
    [not_success_search] = 'this.not_succes_search_flag'
    (select_cancell_all_inputs) = 'this.select_cancell_inputs($event)'
    (filters_selected) = 'this.filters_select_letter($event)'
    (scroll_up_event) = this.scroll_up()
    [extended_options] = 'false'
    >
  </app-email-header>

  <div class="preloader__letters" *ngIf="this.emailServ.haveResponse === false; else messagesDownload">
    <div class="cssload-speeding-wheel"></div>
    <p>ЗАГРУЗКА</p>
  </div>
  <ng-template #messagesDownload>  
    <div class="template_settings" *ngIf="this.id_selected_letter.length > 0">
        <button  type='button'
        title="Сделать избранными"
        (click) = 'this.important_all_letter()'
        >
            <span class='la la-exclamation'></span>
          </button>
          <button  type='button'
        title="Удалить"
        (click) = 'this.delete_all_letter()'
        >
            <span class='la la-trash-o'></span>
          </button>
          
    </div>
    <div class="wrapper" *ngIf="this.not_succes_search_flag === false; else search_not_found">
    <div class="list__prev" *ngFor="let letter of emailServ.draft_list, let i = index"
    
    routerLinkActive = 'active_template'
    
    [ngClass]="{checkbox_selected: this.selected_checkbox_for_html[i]}"
    [class.favorite_template] = 'letter.flagged'
    >
    <input type="checkbox"  id='my_id{{letter.draft_id}}' class='avatar_checkboxes hidden_checkbox' 
    (click)='select_some_letters($event, i)'
    (click)='select_letter($event, i, letter.draft_id)'>
      <label for='my_id{{letter.draft_id}}' class="checkbox_block">
        <span class='mc template_icon'></span>
      </label>
      <div class="setting_and_txt_group"
      routerLink="./create"
      [queryParams] = "{'id':letter.draft_id, 'status':'template', 'edit_tmp':true}"
      >
      <div class="text_info">{{letter.title}}</div>
      <input type="checkbox" name='settings_inputs_group'  id=sett_{{letter.draft_id}} class='settings_checkbox hidden_checkbox'
      (change) = 'cancell_checked($event, i)'
      >
      <div class="hideMenu">
        <button class='letterMenuButt'
        (click) = 'delete_one_tmp(letter.draft_id, $event, i)'
        >Удалить</button>

        <button class='letterMenuButt'
        (click) = 'favorite_tmp(letter.draft_id, letter.flagged, i)'
        *ngIf="!letter.flagged"
        >Добавить в избранное</button>

        <button class='letterMenuButt'
        (click) = 'favorite_tmp(letter.draft_id, letter.flagged, i)'
        *ngIf="letter.flagged"
        >Удалить из избранных</button>
      
      </div>
      <label class="setting" for="sett_{{letter.draft_id}}">
          <span class='la la-ellipsis-h'></span>
      </label>
      
      </div>
  </div>
</div>

</ng-template>
<ng-template #search_not_found>
<p>Шаблоны не найдены</p>
</ng-template>


  </div>

  <app-splitter left min='100' max='500' positionLeft='-0.5'></app-splitter>
  <div class="template__container">
    <router-outlet></router-outlet>
  </div>

  
</div> -->
