<div class="not_found">

<form class="new_user" [formGroup]="login_form_group">
  <h2>MasterCase</h2>
  <p>Вход</p>
    <span>Адрес эл. почты</span>
    <input class='main_inp' type="text" placeholder="Введите почту" formControlName="login">
    <span>Пароль</span>
    <div class="password_group">
    <input type="password" placeholder="Пароль" formControlName="password" class='password'>
    <i (click) = 'toggle_password_show()' class="la la-eye-slash"></i>
    </div>
    <button (click)='authorization()'>Войти</button>
  </form>
  

</div>
