.for_serg {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgb(230, 227, 227);
    width: 150px;
    height: 40px;
    padding: 0 12px;
    box-sizing: border-box;
    z-index: 800;
}