@import '../../colors';
.mail__container {
    padding:60px 0 0px 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;

}

.mails__view {
    width: 100%;
}

.mails {
    width: 240px;
    flex-shrink: 0;
    border-right: 1px solid $border;
}



.letters {
    flex-grow: 22222222;
}