<section class="mail__container">
    <div class="mails">
    
<div class="list__container">
        <!-- <div toastContainer>
        </div> -->
      <div class="header">
        <p>Почта</p>
        <button class='email-menu' (click)='inboxMenuShow()'>
          <span class='la la-bars'></span>
          <p class="tooltip">Меню</p>
          <div class='hideInboxMenu' [ngClass]='{visible:inboxMenuStatus}'>
            <button (click)='createInboxOpen()'>Создать ящик</button>
            <button (click)='deleteInboxOpen()'>Удалить ящик</button>
            <!-- <button>Редактировать ящик</button> -->
            <button (click)='settingOpen()'>Настройки</button>
          </div>
        </button>
        
    
        <!--Настройки -->
        <div class="create-inbox" [ngClass]='{visible:createSettingStatus}'>
          <div class="header">
            <button class='close' (click)='closeViewer($event)'>
              <span class='la la-close close-setting-inbox'></span>
              <p class="tooltip">Закрыть</p>
            </button>
          </div>
          <div class="create__body">
            <div class='settings'>
              <p>Загружать по: </p><button (click)='loadAmount(25)' [ngClass]='{activeElem:this.emailServ.lettersAmount === 25}'>25 <span class='la la-let'></span></button> 
              <button (click)='loadAmount(30)' [ngClass]='{activeElem:this.emailServ.lettersAmount === 30}'>30 <span class='la la-let'></span></button> 
              <button (click)='loadAmount(45)' [ngClass]='{activeElem:this.emailServ.lettersAmount === 45}'>45 <span class='la la-let'></span></button>
            </div>
           
          </div>
        </div>
        <div class="pop" [ngClass]='{visible:createSettingStatus}'></div>
    
        <!--*********************-->
    
    
    
        <!--попап + блок создать ящик-->
        <div class="create-inbox" [ngClass]='{visible:createMenuStatus}'>
          <div class="header">
            <button class='close' (click)='closeViewer($event)'>
              <span class='la la-close close-new-inbox'></span>
              <p class="tooltip">Закрыть</p>
            </button>
          </div>
          <div class="create__body">
            <div class="input-ph">
              <p class='placehold'>IMAP:</p>
                <input type="text">
            </div>
          
            <div class="input-ph">
                <p class='placehold'>Пароль:</p>
                  <input type="text">
              </div>
    
              <div class="input-ph">
                  <p class='placehold'>Логин:</p>
                    <input type="text">
                </div>
                <div class="input-ph">
                    <p class='placehold'>ФИО:</p>
                      <input type="text">
                  </div>
          <button class='btn-create'>Создать</button>
          </div>
        </div>
        <div class="pop" [ngClass]='{visible:createMenuStatus}'></div>
        <!--*********************-->
    
        <!--попап + блок удалить ящик-->
        <div class="create-inbox" [ngClass]='{visible:deleteMenuStatus}'>
            <div class="header">
              <button class='close' (click)='closeViewer($event)'>
                <span class='la la-close close-delete-inbox'></span>
                <p class="tooltip">Закрыть</p>
              </button>
            </div>
            <div class="create__body">
              <div class="email__body" *ngFor='let email of emailItems let i = index'>
              <p class='inboxName'>{{email.address}}</p>
              <button class='btn-create'(click)='editInbox(i)'>Редактировать</button>
              <button class='btn-create'(click)='deleteInbox(i)'>Удалить</button>
             
            </div>
            </div>
          </div>
          <div class="pop" [ngClass]='{visible:deleteMenuStatus}'></div>
        <!--*********************-->
    
        <!--попап + блок удалить ящик-->
        <div class="create-inbox" [ngClass]='{visible:editMenuStatus}'>
            <div class="header">
              <button class='close' (click)='closeViewer($event)'>
                <span class='la la-close close-edit-inbox'></span>
                <p class="tooltip">Закрыть</p>
              </button>
            </div>
            <div class="create__body">
                <div class="email__body">
                  <p class='editName'>Cтарый логин:  {{this.inboxName}}</p>
    
                  <div class="input-ph">
                      <p class='placehold'>Новый</p>
                        <input class='placehold_edit' type="text">
                    </div>
    
                </div>
                <div class="email__body">
                  <p class='editName'>Старый пароль: {{this.inboxPassword}}</p>
    
                  <div class="input-ph">
                      <p class='placehold'>Новый</p>
                        <input class='placehold_edit' type="text">
                    </div>
                </div>
                <div class="email__body">
                  <p class='editName'>Старое имя:  {{this.inboxFullName}}</p>
                  <div class="input-ph">
                      <p class='placehold'>Новое</p>
                        <input class='placehold_edit' type="text">
                    </div>
                </div>
    
                <button class='btn-create'>Изменить</button>
               
            </div>
            </div>
          <div class="pop" [ngClass]='{visible:editMenuStatus}'></div>
        <!--*********************-->
    
        
      </div>
      <div class="emails" *ngFor='let email of emailItems let i = index'>
    
        <a class="emails__list" 
        (click)='showHiddenBlock(i)'

        
        
        >
          <p>{{email.address}}</p>
          <span class='la la-lg la-angle-double-down' *ngIf="visibl[i] === false || visibl[i] === undefined"
          > </span>
          <span class='la la-lg la-angle-double-up' *ngIf="visibl[i] === true"
          > </span>
      </a>
        <div class="hiddenMenu" [class.visibl]='visibl[i]'
        routerLinkActive="visibl"
        >
          <a (click)="goUrl(0)" 
          routerLink="./{{this.emailItems[i].address}}/0"
          routerLinkActive="activeTypeMess"
          >
            Входящие
             <span class='email__num'>{{email.count}}</span>
          </a>
          <p class='presentation_folder_test'>Папка 1</p>
          <ul>
          <li class='presentation_folder_test__child'>Важные
            <ul>
                <li class='presentation_folder_test__child'>Задачи</li>
                <li class='presentation_folder_test__child'>Выполненные</li>
            </ul>
          </li>
          <li class='presentation_folder_test__child'>По работе</li>
          <li class='presentation_folder_test__child'>Несортированные</li>
        </ul>
          <a (click)="goUrl(1)"
          routerLink="./{{this.emailItems[i].address}}/1"
          routerLinkActive="activeTypeMess"
          >
            Исходящие
            <span class='email__num'></span>
          </a>
          <a (click)="goUrl(2)" 
          routerLink="./{{this.emailItems[i].address}}/2"
          routerLinkActive="activeTypeMess"
          >
            Удаленные
            <span class='email__num'></span>
          </a>
          <a (click)="goUrl(4)"
          routerLink="./{{this.emailItems[i].address}}/4"
          routerLinkActive="activeTypeMess"
          >
            Спам
            <span class='email__num'></span>
          </a>
        </div>

        
      </div>
    </div>
    
    
    </div>
    <app-splitter left min='240' max='450' positionLeft='-1'></app-splitter>
    <div class="mails__view">

    <router-outlet></router-outlet>
    </div> 
    <app-preserver></app-preserver>
</section>