
<section class="mail__container">
  <div class="mails">
    <div class="list__container">
      <!--
        <div toastContainer>
        </div>
      -->
      <div class="header">
        <p class="head_titl">Почта</p>
        <div class="header_leftGroup" [ngClass]="{visible_group: this.state_menu}">
          <button class="email-menu global_menu" 
          
          (click) = 'this.toggle_state_menu()'
          >
            <span class="la la-cog"></span>

            <div class="hidden__sett" [ngClass]="{visibl: this.state_menu}">
              <button [routerLink]="['/email-setting']" >Все настройки</button>
              <button [routerLink]="['/email-setting/sign-preview']" >Подпись</button
                ><button>Что-то ещё</button>
            </div>
          </button>
          <button class="email-menu">
            <span class="la la-pencil-square-o"></span>
          </button>
        </div>

        <!-- Настройки -->
        <div class="create-inbox" [ngClass]="{ visible: createSettingStatus }">
          <div class="header">
            <button class="close" (click)="closeViewer($event)">
              <span class="la la-close close-setting-inbox"></span>
              <p class="tooltip">Закрыть</p>
            </button>
          </div>
          <div class="create__body">
            <div class="settings">
              <p>Загружать по:</p>
              <button
                (click)="loadAmount(25)"
                [ngClass]="{ activeElem: this.emailServ.lettersAmount === 25 }"
              >
                25 <span class="la la-let"></span>
              </button>
              <button
                (click)="loadAmount(30)"
                [ngClass]="{ activeElem: this.emailServ.lettersAmount === 30 }"
              >
                30 <span class="la la-let"></span>
              </button>
              <button
                (click)="loadAmount(45)"
                [ngClass]="{ activeElem: this.emailServ.lettersAmount === 45 }"
              >
                45 <span class="la la-let"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="pop" [ngClass]="{ visible: createSettingStatus }"></div>

        <!-- ********************* -->

        <!-- попап + блок создать ящик -->
        
        <div class="pop" [ngClass]="{ visible: createMenuStatus }">
            <div class="create-inbox" [ngClass]="{ visible: createMenuStatus }">
              <img class='acc_logo' src='../../assets/logo.png'>
              <p>Авторизация</p>

                <input type="text"  placeholder="Логин (e-mail)"/>

                <div class="header">
                  <button class="close" (click)="closeViewer($event)">
                    <span class="la la-close close-new-inbox"></span>
                    <p class="tooltip">Закрыть</p>
                  </button>
                </div>
                <div class="create__body">

      
                  <div class="input-ph">
                    <p class="placehold">Пароль:</p>
                    <input type="text" />
                  </div>
      
                  
                  <div class="input-ph">
                    <p class="placehold">ФИО:</p>
                    <input type="text" />
                  </div>
                  <button class="btn-create">Создать</button>
                </div>
              </div>
        </div>
        <!-- ********************* -->

        <!-- попап + блок удалить ящик -->
        <div class="create-inbox" [ngClass]="{ visible: deleteMenuStatus }">
          <div class="header">
            <button class="close" (click)="closeViewer($event)">
              <span class="la la-close close-delete-inbox"></span>
              <p class="tooltip">Закрыть</p>
            </button>
          </div>
          <div class="create__body">
            <div
              class="email__body"
              *ngFor="let email of emailItems; let i = index"
            >
              <p class="inboxName">{{ email.address }}</p>
              <button class="btn-create" (click)="editInbox(i)">
                Редактировать
              </button>
              <button class="btn-create" (click)="deleteInbox(i)">
                Удалить
              </button>
            </div>
          </div>
        </div>
        <div class="pop" [ngClass]="{ visible: deleteMenuStatus }"></div>
        <!-- ********************* -->

       
      </div>
      <div class="emails" *ngFor="let email of emailItems; let i = index">
        <div
          class="emails__list"
          [ngClass]="{
            bold_active: email.address === this.emailServ?.idPostForHTTP
          }"
          
          (click)="showHiddenBlock(i)"
        >
          <div class="accaunt_info">
            <div class="avatar">
              <p>{{ email.address.charAt(0) }}</p>
            </div>
            <p class='title_email'>{{ email.address }}</p>
          </div>

          <div class="email_icons_group">
          <button class='settings_email' title="Настройки ящика"
          >
            <span
              class="la la-cog">
            </span>
          </button>
          <button title="Свернуть / развернуть" >
            <span class="la la-lg la-angle-down" *ngIf="!this.visibl[i]"></span>
            <span class="la la-lg la-angle-up" *ngIf="this.visibl[i]"></span>
          </button>
        </div>


        </div>
        <div
          class="hiddenMenu"
          [class.visibl]="visibl[i]"
          routerLinkActive="visibl"
        >
        <div class="folders__child">
          <div
            class="type_message"
            routerLinkActive="active_typeMess"
          >
            <div
              class="link_area"

              routerLink="./{{this.emailItems[i].address}}/1"
              (drop)="drop_letter($event)"
              (dragover)="allowDrop($event)"
              id={{1}}
            >
              <p>Входящие</p>
              <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][1] !== 0">{{this.emailServ.counts[email.address][1]}}</p>
              <p class="email__num">{{ email.count }}</p>
            </div>
            <button (click)='open_hidden_folders($event, 1, i, true, this.emailItems[i].address)' *ngIf="this?.user_folders[i].length !== 0"
            ><span class="la la-lg la-angle-down" *ngIf="this.current_address_folder_open !== this.emailItems[i].address"></span>
            <span class="la la-lg la-angle-up" *ngIf="this.current_address_folder_open === this.emailItems[i].address"></span>
          </button>
          </div>

          <div class="hidden_subfolder" 
          
          [ngClass]="{visibl_hidden_folders: this.current_address_folder_open === this.emailItems[i].address}"
          
          >
              <div class="folders__child" *ngFor="let folder of this?.user_folders[i]">
            <div class="type_message"
            routerLinkActive="active_typeMess"
            >
              <div class="link_area one_level_fold"
              (drop)="drop_letter($event)"
              (dragover)="allowDrop($event)"
              (click)="goUrl(1)"
              routerLink="./{{this.emailItems[i].address}}/{{folder.id}}"
              id={{folder.id}}
              >
                <span class="mc folder"></span>
                <p *ngIf="folder.title !== undefined">{{folder.title}}</p>
                <p *ngIf="folder.title === undefined">Папка без имени</p>
                <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][folder.id] !== 0">{{this.emailServ.counts[email.address][folder.id]}}</p>
              </div>
              <button (click)='open_hidden_folders($event, folder.id, i)'
              *ngIf="folder.childs"

              >
              <span class="la la-lg la-angle-down" *ngIf="!folder.is_open"></span>
              <span class="la la-lg la-angle-up" *ngIf="folder.is_open"></span>
            </button>
            </div>
            <div class="hidden_subfolder"
            
            [ngClass]="{visibl_hidden_folders: folder.is_open}"
            
            >
       
              <div class="folders__child" *ngFor="let folder_1level of folder.childs">
                <div class="type_message"
                routerLinkActive="active_typeMess"
                
                >
                  <div class="link_area two_level_fold"
                  routerLink="./{{this.emailItems[i].address}}/{{folder_1level.id}}"

              (drop)="drop_letter($event)"
              (dragover)="allowDrop($event)"
              (click)="goUrl(1)"
              id={{folder_1level.id}}
                  >
                    <span class="mc folder"></span>
                <p *ngIf="folder_1level.title !== undefined">{{folder_1level.title}}</p>
                <p *ngIf="folder_1level.title === undefined">Папка без имени</p>
                    <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][folder_1level.id] !== 0 ">{{this.emailServ.counts[email.address][folder_1level.id]}}</p>
                  </div>
                  <button (click)='open_hidden_folders($event, folder_1level.id, i)'
                  *ngIf="folder_1level.childs"
                  >
                  <span class="la la-lg la-angle-down" *ngIf="!folder_1level.is_open"></span>
                  <span class="la la-lg la-angle-up" *ngIf="folder_1level.is_open"></span>
                </button>
                </div>

                <div class="hidden_subfolder"
                
                [ngClass]="{visibl_hidden_folders: folder_1level.is_open}"
                >
                  <div class="folders__child" *ngFor="let folder_2level of folder_1level.childs">
                    <div  class="type_message"
                    routerLinkActive="active_typeMess"
                   
                    >
                      <div class="link_area three_level_fold"
                      routerLink="./{{this.emailItems[i].address}}/{{folder_2level.id}}"

              (drop)="drop_letter($event)"
              (dragover)="allowDrop($event)"

              (click)="goUrl(1)"
              id={{folder_2level.id}}
                      >
                        <span class="mc folder"></span>
                        

                        <p *ngIf="folder_2level.title !== undefined">{{folder_2level.title}}</p>
                        <p *ngIf="folder_2level.title === undefined">Папка без имени</p>
                        <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][folder_2level.id] !== 0">{{this.emailServ.counts[email.address][folder_2level.id]}}</p>
                      </div>
                      <button (click)='open_hidden_folders($event, folder_2level.id, i)'
                      *ngIf="folder_2level.childs"
                      >
                      <span class="la la-lg la-angle-down" *ngIf="!folder_2level.is_open"></span>
                      <span class="la la-lg la-angle-up" *ngIf="folder_2level.is_open"></span>
                      </button>
                    </div>
                    <div class="hidden_subfolder"
                    
                    [ngClass]="{visibl_hidden_folders: folder_2level.is_open}"
                    >
                      <div class="folders__child" *ngFor="let folder_3level of folder_2level.childs">
                        <div  class="type_message"
                        routerLinkActive="active_typeMess"
                        >
                          <div class="link_area four_level_fold"
                          routerLink="./{{this.emailItems[i].address}}/{{folder_3level.id}}"

              (drop)="drop_letter($event)"
              (dragover)="allowDrop($event)"

              (click)="goUrl(1)"
              id={{folder_3level.id}}
                          >
                            <span class="mc folder"></span>
                            <p *ngIf="folder_3level.title !== undefined">{{folder_3level.title}}</p>
                            <p *ngIf="folder_3level.title === undefined">Папка без имени</p>
                            <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][folder_3level.id] !== 0">{{this.emailServ.counts[email.address][folder_3level.id]}}</p>
                          </div>
                          <button (click)='open_hidden_folders($event, folder_3level.id, i)'
                          *ngIf="folder_3level.childs"
                          >
                          <span class="la la-lg la-angle-down" *ngIf="!folder_3level.is_open"></span>
                          <span class="la la-lg la-angle-up" *ngIf="folder_3level.is_open"></span>
                          </button>
                        </div>
                        <div class="hidden_subfolder"
                        
                        [ngClass]="{visibl_hidden_folders: folder_3level.is_open}"
                        >
                          <div class="folders__child" *ngFor="let folder_4level of folder_3level.childs">
                            <div  class="type_message"
                            routerLinkActive="active_typeMess"
                            >
                              <div class="link_area five_level_fold"
                              routerLink="./{{this.emailItems[i].address}}/{{folder_4level.id}}"

              (drop)="drop_letter($event)"
              (dragover)="allowDrop($event)"

              (click)="goUrl(1)"
              id={{folder_4level.id}}
                              >
                                <span class="mc folder"></span>
                                <p *ngIf="folder_4level.title !== undefined">{{folder_4level.title}}</p>
                            <p *ngIf="folder_4level.title === undefined">Папка без имени</p>
                                <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][folder_4level.id] !== 0">{{this.emailServ.counts[email.address][folder_4level.id]}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
          <div
            (click)="goUrl(1)"
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/2"
            >
              <p>Отправленные</p>
              <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][2] !== 0">{{this.emailServ.counts[email.address][2]}}</p>
            </div>
          </div>
          <div
            (click)="goUrl(3)"
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/3"
            >
              <p>Удаленные</p>
              <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][3] !== 0">{{this.emailServ.counts[email.address][3]}}</p>
            </div>
          </div>
          <div
            (click)="goUrl(5)"
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/5"
            >
              <p>Спам</p>
              <p class='counter' *ngIf="this.emailServ.counts[email.address] !== undefined && this.emailServ.counts[email.address][5] !== 0">{{this.emailServ.counts[email.address][5]}}</p>
            </div>
          </div>

          <div
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/template"
            >
              <p>Шаблоны</p>
            </div>
          </div>

          <div
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/drafts"
            >
              <p>Черновики</p>
            </div>
          </div>

          <div class="type_message" (click)='selected_box_id(this.emailItems[i].address, this.user_folders[i])'>
            <app-folders [user_folders]='this.selected_folders' [box_id]='this.selected_box' [ip]='this.emailServ.ip'>

            </app-folders>
          </div>
        </div>
      </div>
      <div
          class="emails__list"
          routerLink="/add_email"
        >
          <div class="accaunt_info">
            <div class="avatar create_new_account">
              <span class='la la-plus'></span>
            </div>
            <p>Добавить почтовый ящик</p>
          </div>
        </div>
    </div>
    <div class="canc__openmenu" (click) = 'this.toggle_state_menu()' [ngClass]="{active_menu: this.state_menu}"></div>
  </div>
  <app-splitter left min="240" max="450" positionLeft="-1"></app-splitter>
  <div class="mails__view"><router-outlet></router-outlet></div>
  <app-preserver></app-preserver>

</section>

