@import '../../colors';

.mail__container {
    padding:60px 0 0px 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;

}

.mails__view {
    width: 100%;
}

.mails {
    width: 240px;
    flex-shrink: 0;
    border-right: 1px solid $border;
    background: #f7fbfe;
    box-sizing: border-box;
}



.letters {
    flex-grow: 22222222;
}


@import 'mixins';

.list__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

button {
    margin: 0;
    span {
        color:#9cabc1;
    }
    &:hover span {
        color: #092955;
    }
}


.header {
    width: 100%;
    height: 40px;
    align-items: center; 
    // border-bottom: 1px solid $border;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 0 20px;
    transition: .4s;
    border-bottom: 1px solid #d9e6f7;
    &:hover .email-menu{
        width: 30px;
        overflow: visible;
    }
    &:hover {
        background: #d9e6f7;
    }
}
a,p{
    font-size: 13px;
    line-height: 20px;
    color:$text-color;
}
.head_titl {
    color: #002d48;
}

.header_leftGroup {
    display: flex;
    align-items: center;
    height: 100%;
}
.email-menu {
    overflow: hidden;
    width: 0;
    transition: .4s;
    margin-left: 4px;
}


.emails__list {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4px 0 20px;
    border-bottom: 1px solid #d9e6f7;
    position: relative;
    transition: .4s;
    box-sizing: border-box;
    outline: none;

    &:hover {
        background: #d9e6f7;
    } 
}

.left_activ_strip {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 4px;
        background: #074b86;
    }
}

.type_message {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 4px;
    box-sizing: border-box;
    transition: .4s;

 
    
    cursor: pointer;
    p{
        color: #092955;
    }
    &:hover:not(.wrap) {
            background: #d9e6f7;
    }
}



.link_area {
    display: flex;
    align-items: center;
    flex: 1;
    min-height: 40px;
    height: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
    position: relative;
    overflow: hidden;

    span {
        margin-right: 4px;
    }

    &.one_level_fold {
        padding-left: 30px;
        }

        &.two_level_fold {
            padding-left: 60px;
        }
        &.three_level_fold {
            padding-left: 90px;
        }
            &.four_level_fold {
                padding-left: 120px;
            }
                &.five_level_fold {
                    padding-left: 150px;
                    padding-right: 30px;
                }



        p {
            text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
        }
}

.plus {
    position: absolute;
    right: 0;
    color: #9cabc1;
    &:hover {
        background: none;
    }
    &:hover span {
        color: inherit;
    }
}

.active_typeMess {
    background: #d9e6f7;
    font-weight: bold;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 4px;
        background: #074b86;
    }
    }

    .email__num {
        margin-left: 10px;
        border-radius: 10px;
        background: #9cabc1;
        font-size: 13px;
        line-height: 20px;
        padding: 0px 8px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

   

.avatar {
    @extend %avatar;
    margin-right: 10px;
    border: 2px solid #3eb5f1;
    box-sizing: border-box;

}
.accaunt_info {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
    height: auto;
    padding: 0;

    
}

.hidden__folders {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
        padding-right: 4px;
        box-sizing: border-box;


       

    
}

.folders__child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;




}
.hidden_subfolder {
    width: 100%; 
    display: none;
    
}

.active__folder {
    background: #77efff;
}

.hiddenMenu {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    transition: .4s;
}


.show {
    height: auto;
}



.hideInboxMenu {
    @include hideMenu(180px,auto,auto,-100%, rgba(0, 0, 0, 1)); 
    top:100%;
    left: 0;
    z-index: 5;
}

.create-inbox {
    width: 640px;
    height: 640px;
    position: absolute;
    background: rgb(243, 243, 243);
    z-index: 10;
    top: 120px;
    left: 275px;
    display: none;
    animation: createInboxAnim .4s;
    flex-direction: column;
    box-shadow: 0 0 2px 2px  rgba(0, 0, 0, 0.5);
    // padding: 15px;

    .header {
        padding: 0px 15px;
        flex-direction: row-reverse;
        
    }
    .create__body {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
    }


    .input-ph {
        width: 100%;
        border-radius: 2px;
        border: solid 1px $border;
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 6px;

        .placehold {
            position: absolute;
            top:0;
            left: 10px;
            line-height: 38px;
            color: rgba(51, 51, 51, 0.301);
        }
    }

    input {
        @include inputs($padding: 0px 0px 0px 75px, $height: 38px, $m-top: 0px, $border-inp: none);
        }
    
        .placehold_edit {
            @include inputs($padding: 0px 0px 0px 65px, $height: 38px, $m-top: 0px, $border-inp: none);
        }

        

    .btn-create {
        width: 100px;
        height: 32px;
        margin-top: 10px;
        border-radius: 6px;
        border: 1px solid $border;
    }
}

.email__body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .btn-create {
        margin-left: 20px;
    }

    .inboxName {
        width: 140px;
    }
    .editName {
        width: 50%;
        flex-shrink: 0;
    }
   
}

@keyframes createInboxAnim {
    0% {
        opacity: 0.4;
        transform: scale(0.1);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}

.pop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(20, 20, 20, 0.5);
    display: none;
}


.la-butt-down::before {
    content: "\f107";
}


.visibl {
    display: flex;
    animation: createInboxAnim .4s;
}

.visibl_hidden_folders {
    display: block;
    animation: createInboxAnim .4s;
}



.settings {
    width: 100%;
    height: 30px;
    display: flex;

    button {
        margin: 0 12px;
        padding:0 12px;
        box-sizing: border-box;
        border: 1px solid $border;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    span {
        font-size: 12px;
        color: $status-icons-color;
        margin-left: 12px;
        
    }

}

.activeElem {
    background: #77efff;
}

.presentation_folder_test {
    width: 100%;
    line-height: 32px;
    text-align: right;
    padding: 0 25px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c3c5c7;
}

ul {
    width: 100%;
    // list-style-type: inherit;
    margin: 0;
    
    
    border-bottom: 1px solid #c3c5c7;
    opacity: .9;
    
}

.presentation_folder_test__child {
    padding-left: 35px;
    box-sizing: border-box;
    cursor: pointer;
    display: list-item;
    text-align: left;
    font-size: 14px;
    transition: .4s;
    &:hover {
        background: #e6e6e6;
    }
    
}
.presentation_folder_test__child > ul > li {
    opacity: .5;
    &:hover {
        background: #858181;
    }
}

.active {
    background: #77efff;
}




