<section class="mail__container">
  <div class="mails">
    <div class="list__container">
      <!--
        <div toastContainer>
        </div>
      -->
      <div class="header">
        <p class="head_titl">Почта</p>
        <div class="header_leftGroup">
          <button class="email-menu" (click)="inboxMenuShow()">
            <span class="la la-bars"></span>
            <p class="tooltip">Меню</p>
            <div class="hideInboxMenu" [ngClass]="{ visible: inboxMenuStatus }">
              <button (click)="deleteInboxOpen()">Удалить ящик</button>
              <!-- <button>Редактировать ящик</button> -->
              <button (click)="settingOpen()">Настройки</button>
            </div>
          </button>
          <button class="email-menu">
            <span class="la la-pencil-square-o"></span>
            <p class="tooltip">Что-то</p>
          </button>
        </div>

        <!-- Настройки -->
        <div class="create-inbox" [ngClass]="{ visible: createSettingStatus }">
          <div class="header">
            <button class="close" (click)="closeViewer($event)">
              <span class="la la-close close-setting-inbox"></span>
              <p class="tooltip">Закрыть</p>
            </button>
          </div>
          <div class="create__body">
            <div class="settings">
              <p>Загружать по:</p>
              <button
                (click)="loadAmount(25)"
                [ngClass]="{ activeElem: this.emailServ.lettersAmount === 25 }"
              >
                25 <span class="la la-let"></span>
              </button>
              <button
                (click)="loadAmount(30)"
                [ngClass]="{ activeElem: this.emailServ.lettersAmount === 30 }"
              >
                30 <span class="la la-let"></span>
              </button>
              <button
                (click)="loadAmount(45)"
                [ngClass]="{ activeElem: this.emailServ.lettersAmount === 45 }"
              >
                45 <span class="la la-let"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="pop" [ngClass]="{ visible: createSettingStatus }"></div>

        <!-- ********************* -->

        <!-- попап + блок создать ящик -->
        
        <div class="pop" [ngClass]="{ visible: createMenuStatus }">
            <div class="create-inbox" [ngClass]="{ visible: createMenuStatus }">
              <img class='acc_logo' src='../../assets/logo.png'>
              <p>Авторизация</p>

                <input type="text"  placeholder="Логин (e-mail)"/>

                <div class="header">
                  <button class="close" (click)="closeViewer($event)">
                    <span class="la la-close close-new-inbox"></span>
                    <p class="tooltip">Закрыть</p>
                  </button>
                </div>
                <div class="create__body">

      
                  <div class="input-ph">
                    <p class="placehold">Пароль:</p>
                    <input type="text" />
                  </div>
      
                  
                  <div class="input-ph">
                    <p class="placehold">ФИО:</p>
                    <input type="text" />
                  </div>
                  <button class="btn-create">Создать</button>
                </div>
              </div>
        </div>
        <!-- ********************* -->

        <!-- попап + блок удалить ящик -->
        <div class="create-inbox" [ngClass]="{ visible: deleteMenuStatus }">
          <div class="header">
            <button class="close" (click)="closeViewer($event)">
              <span class="la la-close close-delete-inbox"></span>
              <p class="tooltip">Закрыть</p>
            </button>
          </div>
          <div class="create__body">
            <div
              class="email__body"
              *ngFor="let email of emailItems; let i = index"
            >
              <p class="inboxName">{{ email.address }}</p>
              <button class="btn-create" (click)="editInbox(i)">
                Редактировать
              </button>
              <button class="btn-create" (click)="deleteInbox(i)">
                Удалить
              </button>
            </div>
          </div>
        </div>
        <div class="pop" [ngClass]="{ visible: deleteMenuStatus }"></div>
        <!-- ********************* -->

       
      </div>
      <div class="emails" *ngFor="let email of emailItems; let i = index">
        <div
          class="emails__list"
          [ngClass]="{
            left_activ_strip: email.address === this.emailServ.idPostForHTTP
          }"
          routerLinkActive="left_activ_strip"
          (click)="showHiddenBlock(i)"
        >
          <div class="accaunt_info">
            <div class="avatar">
              <p>{{ email.address.charAt(0) }}</p>
            </div>
            <p>{{ email.address }}</p>
          </div>
          <button>
            <span
              class="la la-lg la-angle-down"
              *ngIf="visibl[i] === false || visibl[i] === undefined"
            >
            </span>
            <span class="la la-lg la-angle-up" *ngIf="visibl[i] === true">
            </span>
          </button>
        </div>
        <div
          class="hiddenMenu"
          [class.visibl]="visibl[i]"
          routerLinkActive="visibl"
        >
        <div class="folders__child">
          <div
            class="type_message"
            routerLinkActive="active_typeMess"
          >
            <div
              class="link_area"
              (click)="goUrl(0)"
              routerLink="./{{this.emailItems[i].address}}/1"
            >
              <p>Входящие</p>
              <p class="email__num">{{ email.count }}</p>
            </div>
            <button (click)='open_hidden_folders($event)'><span class="la la-lg la-angle-down"></span></button>
          </div>

          <div class="hidden_subfolder" 
          routerLinkActive="visibl_hidden_folders"

          >
              <div class="folders__child" *ngFor="let folder of this?.user_folders[i].boxes">
            <div (click)="goUrl(1)" class="type_message"
            routerLinkActive="active_typeMess"
            >
              <div class="link_area one_level_fold"
              routerLink="./{{this.emailItems[i].address}}/{{folder.id}}"
              
              >
                <span class="la la-lg la-square-o"></span>
                <p>{{folder.title}}</p>
              </div>
              <button (click)='open_hidden_folders($event)'
              *ngIf="folder.childs"

              ><span class="la la-lg la-angle-down"
 
              ></span></button>
            </div>
            <div class="hidden_subfolder"
            routerLinkActive="visibl_hidden_folders"
            
            >
       
              <div class="folders__child" *ngFor="let folder_1level of folder.childs">
                <div (click)="goUrl(0)" class="type_message"
                routerLinkActive="active_typeMess"
                >
                  <div class="link_area two_level_fold"
                  routerLink="./{{this.emailItems[i].address}}/{{folder_1level.id}}"

                  >
                    <span class="la la-lg la-square-o"></span>
                    <p>{{folder_1level.title}}</p>
                  </div>
                  <button (click)='open_hidden_folders($event)'
                  *ngIf="folder_1level.childs"
                  ><span class="la la-lg la-angle-down"

                  ></span></button>
                </div>

                <div class="hidden_subfolder"
                routerLinkActive="visibl_hidden_folders"
                >
                  <div class="folders__child" *ngFor="let folder_2level of folder_1level.childs">
                    <div (click)="goUrl(0)" class="type_message"
                    routerLinkActive="active_typeMess"
                    >
                      <div class="link_area three_level_fold"
                      routerLink="./{{this.emailItems[i].address}}/{{folder_2level.id}}"
                      
                      >
                        <span class="la la-lg la-square-o"></span>
                        
                        <p>{{folder_2level.title}}</p>
                      </div>
                      <button (click)='open_hidden_folders($event)'
                      *ngIf="folder_2level.childs"
                      >
                        <span class="la la-lg la-angle-down"></span>
                      </button>
                    </div>
                    <div class="hidden_subfolder"
                    routerLinkActive="visibl_hidden_folders"
                    >
                      <div class="folders__child" *ngFor="let folder_3level of folder_2level.childs">
                        <div (click)="goUrl(0)" class="type_message"
                        routerLinkActive="active_typeMess"
                        >
                          <div class="link_area four_level_fold"
                          routerLink="./{{this.emailItems[i].address}}/{{folder_3level.id}}"
                          
                          >
                            <span class="la la-lg la-square-o"></span>
                            <p>{{folder_3level.title}}</p>
                          </div>
                          <button (click)='open_hidden_folders($event)'
                          *ngIf="folder_3level.childs"
                          >
                            <span class="la la-lg la-angle-down"></span>
                          </button>
                        </div>
                        <div class="hidden_subfolder"
                        routerLinkActive="visibl_hidden_folders"
                        >
                          <div class="folders__child" *ngFor="let folder_4level of folder_3level.childs">
                            <div (click)="goUrl(0)" class="type_message"
                            routerLinkActive="active_typeMess"
                            >
                              <div class="link_area five_level_fold"
                              routerLink="./{{this.emailItems[i].address}}/{{folder_4level.id}}"
                              
                              >
                                <span class="la la-lg la-square-o"></span>
                                <p>{{folder_4level.title}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
          <div
            (click)="goUrl(1)"
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/2"
            >
              <p>Исходящие</p>
            </div>
          </div>
          <div
            (click)="goUrl(3)"
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/3"
            >
              <p>Удаленные</p>
            </div>
          </div>
          <div
            (click)="goUrl(5)"
            routerLinkActive="active_typeMess"
            class="type_message"
          >
            <div
              class="link_area"
              routerLink="./{{this.emailItems[i].address}}/5"
            >
              <p>Спам</p>
            </div>
          </div>
          <div class="type_message" (click)='selected_box_id(this.emailItems[i].address, this.user_folders[i].boxes)'>
            <app-folders [user_folders]='this.selected_folders' [box_id]='this.selected_box' [ip]='this.emailServ.ip'>

            </app-folders>
          </div>
        </div>
      </div>
      <div
          class="emails__list"
          (click)="createInboxOpen()"
        >
          <div class="accaunt_info">
            <div class="avatar create_new_account">
              <span class='la la-plus'></span>
            </div>
            <p>Добавить аккаунт</p>
          </div>
        </div>
    </div>
  </div>
  <app-splitter left min="240" max="450" positionLeft="-1"></app-splitter>
  <div class="mails__view"><router-outlet></router-outlet></div>
  <app-preserver></app-preserver>
</section>
