@import '../mixins';
@import '../../../colors';
@import '../../../quill';
@import 'fonts';
@import 'mastercase_style_font';
@import '../preloader';




%default_text_param {
    color:black;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    padding: 0;
    margin: 0;
}




:host {
    flex-grow: 11;
}

p{ 
    font-family: 'Roboto-Regular' ,Arial, sans-serif !important;
}




.one_butt {

    flex-shrink: 0;

    &:last-child {
        margin: 0;
    }

}






.container__view {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}
.preload_container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.messageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.header_letter__view {
    @include header(row,50px);
    border:0px;
    border-bottom: 1px solid $border;
    background: #F7FBFE;
    padding: 0 20px;
}
.group__one {
    display: flex;
    align-items: center;

    .stick_splitter {
        margin: 0 20px;
    }
}

.two__one {
    display: flex;
    align-items: center;

    .stick_splitter {
        margin: 0 10px;
    }
}


.end_group {
    margin-right: 0px;
}

.group_btn {
    margin-right: 10px;
    }







.download {

    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 0px;
    flex-shrink: 0;
}



.cont_html {
    color:$text-color;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    word-break: break-word;
   
    // white-space: pre-wrap !important;

// правила для html писем со своим файлом style, которые перебивают наши стили и ломают верстку
    img {
        // width: 400px !important;
        max-width: 100% !important;
    }

    div, table {
        width: 100% !important;
    }

    table {
        margin: 0 !important;
    }

    p, span, pre {
        white-space: pre-wrap !important;
        
    }

    
}


.mess__info {
    width: 100%;
    display: flex;
    padding: 5px 20px;
    box-sizing: border-box;
}

.avatar__block {
    height: 100%;
    width: 30px;
}

.avatar {
    @extend %avatar;
    background: #57a2d7;
}

.avatar__title {
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 1;
    color:white;
    font-size: 16px;
}


.r__info {
    @include prev_styles(column, flex-start, 0 0 0 10px);
        flex-wrap: nowrap;
        width: 100%;
        overflow: visible;
}



.from {
    margin-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name__block {
    @extend %name_text;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.name {
    @extend %name_text;
    margin-left: 14px;
}
.title {
    @extend %title_text;
}

.panel {
    @include panel-mix();
    box-sizing: border-box;
   
}

.panel__name {
    display: flex;
    overflow: hidden;
    align-items: center;
    max-width: 300px;
    width: auto;
    @include bables(auto);
    margin-top: 0px;

}
.full_name {
    @extend %default_text_param;
    font-weight: 600;
    flex-shrink: 0;
    margin-right: 15px !important;
}
.email__name {
    @extend %default_text_param;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 15px;
    color: #989898 !important;

   
}

.info__row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;

    &.last_row {
        margin-top: 0px;
    }
    
}
.info_head {
    @extend %default_text_param;
    width: 50px;
    flex-shrink: 0;
    color: #9b9ea6;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.info__content_p {
    
    @include bables;
    margin: 0;
    margin-bottom: 4px;
    margin-right: 4px;

    p{
        @extend %default_text_param;
    }
}

.info__content__block {
    max-width: 480px;
    width: auto;
    display: flex;
}

.cut__visible_block {
    display: flex;
    max-width: 100%;
    width: auto;
    flex-wrap: wrap;
    align-items: center;
}

.cc, .addressess {
    background: none;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0 6px;
    box-sizing: border-box;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $border;
    @extend %default_text_param;
    font-size: 12px;
    color: #b2b2b2;
    outline: none;
    margin-bottom: 4px;
    &:hover:not(.input_return) {
        background:url('../../../assets/arr_down.png') no-repeat center;
        background-size: 50% auto;
        color:rgba(255, 255, 255, 0);
    }
}

.mrg_off {
    margin: 0;
}

.input_return {
    background:url('../../../assets/arr_up.png') no-repeat center;
    background-size: 50% auto;
    color:rgba(255, 255, 255, 0);
   
}

.time {
    @extend %default_text_param;
    color: #929292;
}

.mess__content {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color:black;
    height: 35px;
    margin: 0px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $border;
}

.subject__theme {
    max-width: 650px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin:  0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}


.in_work {
    height: 24px;
    display: flex;
    align-items: center;

    border: 1px solid #8ecdf6;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0px 10px;
    position: relative;
    p {
        white-space: nowrap;
        font-size: 13px;
        color: #8ecdf6;
        @extend %default_text_param;
    }
}
.in_work_not-me {
    border: 0px solid white;
    background: #2d5a81;
    p {
        color: #ffffff;
    }
}



.text {
    width: 100%;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.attachment__block {
    width: 100%;
    padding: 0px 20px 0px 58px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    background: #f5f9fd;

   
}
.attach_tooltip {
    width: 250px;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 66;
    left: 50%;
    background: #424242;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    @extend %default_text_param;
    transform: scale(0);
    animation: tooltipAnim .4s .1s forwards;
}


.attachment__item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
    transition: .4s;
    cursor: pointer;
    position: relative;
    span {
        font-size: 18px;
        margin-right: 8px;
        position: relative;
        border-radius: 2px;
    background-color: #fff;
    flex-shrink: 0;
    }
    &:hover {
            background: #dedee0;
    }
    &:hover .attach_tooltip {
        display: block;
    }


    &:first-child {
        margin: 16px 0px;
    }
}

.attach__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filename {
    @extend %default_text_param;
    color: $text-color;
    font-size: 13px;
    width: 100%;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
    text-align: left;
    line-height: 15px;
    margin-right: 15px;
    
}
.size {
    flex-shrink: 0;
    font-size: 10px;
    color: #b2b2b2;
    @extend %default_text_param;
}

.quickResponse__files_btn {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    z-index: 15;
    
}




// .menu:first-child {
//     position: relative;
//     transition: .4s;
//     margin-left: 4px;
// }
// .menu:last-child {
//     margin-right: 4px;
// }
.hideMenu {
    @include hideMenu (200px, auto, 0, 0, white);
    top:100%;
    display: none;
    padding: 5px 0;
    border-radius: 4px;
    
}


pre{
    // display: none;
    white-space: pre-wrap !important;
}
@keyframes menuEffect {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}


.visible {
    display: block;
}

.quickResponse {
    background:    #F7FBFE;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 0 40px 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top: 1px solid #d9e6f7;

    .avatar__block {
        display: flex;
        align-items: center;
    }
}

.quickResponse__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.quickResponse__inp {
    font-family: 'Roboto-Regular' ,Arial, sans-serif;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-left: 10px;
    height: 34px;
    line-height: 34px;
    border-radius: 2px;
    border: 1px solid #D9E6F7;
    outline: none;
    resize: none;
    color: rgb(16, 17, 17);
    background: rgb(255, 255, 255);
  

    &:focus {
        border-color: #57a2d7;
    }

}

::-webkit-input-placeholder  {color: #C4CEDF}
::-moz-placeholder          {color: #C4CEDF}
:-moz-placeholder           {color: #C4CEDF}
:-ms-input-placeholder      {color: #C4CEDF}


.button__send {
    
    width: 94px;
	height: 23px;
	border-radius: 11px;
    background-color: #fff;
    border: 1px solid #000000;

    span {
        font-size: 13px;
        color: $text-color;
    }
        
}

.btn__text {
    @extend %default_text_param;
    margin-left: 4px;
    transition: .4s;
    cursor: pointer;
    &:hover {
            color: $text-color;
    }
}
.panel__left {
    
    display: flex;
    align-items: center;

    button, p, span {
        color: #cccccc;
        transition: .4s;
    }
    button {
        &:hover span {
            color: $text-color;
        }
    }
}

.quickResponse__active {
    height: 180px;
    background: #F7FBFE;
    padding: 10px 10px 15px 10px;
}

.inp__active {
    padding: 0;
    padding-bottom: 30px;
    padding-top: 8px;
    border: none;
    flex-grow: 12;
}

.avatar__active {
    align-items: flex-start !important;
}

.panel__active {
    display: flex !important;
}

.quickResponse__panel {
    margin-left: 8px;
    @include panel-mix();
    width: auto;
    display: none;
    
}

.none_display {
    cursor: default;
    opacity: .2;

}

.quickResponse__mail_status {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


@media print {
    .mails  {
        display: none;
    }
    .letter__list {
        display: none;
    }
    .letters__view {
        width: 100%;
    }
    .quickResponse {
        display: none;
    }
    .attachment__block {
        display: none;
    }
    nav, header {
        display: none;
    }
    .header_letter__view {
        display: none;
    }
    #toast-container {
            display: none;
    }
   }

   .avatar__title {
    font-size: 0;
    line-height: 1;
    overflow: hidden;

       &::first-letter {
         font-size: 16px;

       }
   }

   button {
    &:hover .tooltip2 {
       display: block;
    }
}

.tooltip2 {
    display: none;
    white-space: nowrap;
    width: auto;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 80;
    overflow: hidden;
    top: 105%;
    left: 0;
    opacity: 0;
    animation: tooltipAnim .4s .5s forwards;  
    line-height: 14px;
    font-size: 13px;
    
}

.new_tmp {
    width: 20px;
    height: 20px;
    background: url('../../../assets/tmp_black.svg') no-repeat center;
    background-size: 18px 18px;
}

[type='submit'] {
    margin-right: 40px;
}

.add_files {
    margin: 0;
}






