<div class="preload_container" *ngIf="this.preload_to_wait_status === true; else view_letter">
  <p>Загрузка</p>
</div>

<ng-template #view_letter >

<div class="container__view" #printBlock>
  <div class="header_letter__view">
    <div class="group__one">

        <button class='new__mess' (click)='this.emailServ.new_clear_message()'
        routerLink="./create"
        >
            <span class='la la-envelope-o'></span>
            <p class="tooltip">Новое сообщение</p>
          </button>
          <button (click)='selectMess(-1)' 
          >
              <span class='la la-angle-left' ></span>
              <p class="tooltip">Следующее сообщение</p>
            </button>
              <button  (click)='selectMess(1)'>
                  <span class='la la-angle-right'></span>
                  <p class="tooltip">Предыдущее сообщение</p>
                </button>
   
    <div class="left__panel">
  <button class='menu' (click)="this.emailServ.newMessage(this.selectedLetter?.from_address,'',this.selectedLetter?.subject)"
  routerLink="./create"
  >
    <span class='la la-mail-reply'></span>
    <p class="tooltip">Ответить</p>
</button>
<button class='menu' 
(click)='this.emailServ.newMessage(this.selectedLetter?.from_address, this.selectedLetter?.to_addresses, this.selectedLetter?.subject)'
[class.none_display] = 'this.selectedLetter?.to_addresses.length === 1'
routerLink="./create"
>
  <span class='la la-reply-all'></span>
  <p class="tooltip">Ответить всем</p>
</button>
<button class='menu' (click)="this.emailServ.new_forward_message(this.selectedLetter?.text, this.selectedLetter?.html)"
routerLink="./create"
>
  <span class='la la-share'></span>
  <p class="tooltip">Переслать</p>
</button>
    </div>
  <button class='menu' (click)='deleteLetter()'>
   <span class='la la-trash-o'></span>
  <p class="tooltip">Удалить сообщение</p>
  </button>
</div>
<div class="group__one">
    <div class="left__panel end">
      <button class='one_butt' (click)='hideMenuShow()'>
      <span class='la la-ellipsis-h'></span>
      <div class="hideMenu" [ngClass]='{visible: visibleMenu}'>
        <button class='letterMenuButt' (click)='print()'>Распечатать</button>
      </div>
      <p class="tooltip">Меню</p>
    </button>
  </div>

    <button class='one_butt' (click)='closeViewer()'
   
    >
        <span class='la la-close'></span>
        <p class="tooltip">Закрыть</p>
      </button>

  </div>
  </div>
  <div class="subject"><p class='subject__theme'>Тема: {{this.selectedLetter?.subject}}</p>
     
         <div class='left__panel end' *ngIf="this.selectedLetter?.draft !== null">
          <div class='in_work' [class.in_work_not-me]="this.selectedLetter?.draft !== this.emailServ.idPostForHTTP" ><p>{{this.selectedLetter?.draft}}</p>
          <div class="in_work_indicator" [class.in_work_indicator_not-me]="this.selectedLetter?.draft !== this.emailServ.idPostForHTTP"></div>
          </div>
        </div>
      
  </div>
  <div class="messageContainer" #messageContainer>


  <div class="mess__content">
    
    <div class="mess__content_body">
        <div class="mess__info">
          <div class="avatar__block">
            <div class="avatar">
              <!-- <img src={{emailServ.avatar}}> -->
              <p class='avatar__title'>{{this.selectedLetter?.from_address}}</p>
            </div>
          </div>
            <div class="r__info">
            <div class="panel">
              <div class='panel__name'>
                
                <p class='full_name' *ngIf="this.selectedLetter?.from_name !== null">{{this.selectedLetter?.from_name}}</p>
                <p class='email__name'>{{this.selectedLetter?.from_address}}</p>
              </div>
          <p class='time'>{{this.selectedLetter?.date | timerPipe}}</p>
            </div>
            <div class="info__row">
              <p class="info_head">Кому: </p>
              <div class="cut__visible_block">
              <div class='info__content_p' *ngIf="this.selectedLetter?.to_addresses.length === 1; else have_many_addresses"><p>Вам</p></div>
              <ng-template #have_many_addresses>
              <div class='info__content_p' *ngFor="let item of this?.cut_addressess_array"><p>{{item}}</p></div>
              <input type='button' class='addressess' [class.input_return]='this?.cut_addressess_array.length === this.selectedLetter?.to_addresses.length'
              *ngIf="this.selectedLetter?.to_addresses.length > 3"
              (click)='all_view($event)' 
              value='+{{this.selectedLetter?.to_addresses.length - this?.cut_addressess_array.length}}'>
              </ng-template>
            </div>
            </div>
            <div class="info__row" *ngIf="this.selectedLetter?.cc_addresses !== null">
                <p class="info_head">Копия:</p>
                <div class="cut__visible_block">
                <div class='info__content_p' *ngFor="let item of this?.cut_cc_adressess_array"><p>{{item}}</p></div>
                <input type='button' class='cc' [class.input_return]='this?.cut_cc_adressess_array.length === this?.selectedLetter.cc_addresses.length'
                *ngIf="this.selectedLetter?.cc_addresses.length > 3"
                (click)='all_view($event)' 
                value='+{{this.selectedLetter?.cc_addresses.length - this?.cut_cc_adressess_array.length}}'>
                </div>
            </div>
        </div>
          </div>
          <div class="attachment__block" >
            <div class="attach__container">
              <div class="attachment__item" *ngFor="let attach of this.attachersList; let i = index">
              <span [class]='attach.type | attachPipe'></span>
              <p class='filename'>{{attach.title}}
               
              </p>
              
              <p class='size'>{{attach.size}}</p>
               <p class="attach_tooltip">{{attach.title}}</p>
              </div>
              
            </div>
            <button class='download' >
                <span class='la la-download'></span>
                <p class="tooltip">Скачать всё</p>
              </button>
        
            </div>
    
    <div [innerHTML]="this.selectedLetter?.html | innerhtml" *ngIf="this.selectedLetter?.html !== null; else viewText" class='cont_html'></div>
    <ng-template #viewText >
    <div class='cont_html'>{{this.selectedLetter?.text}}</div>
  </ng-template>
    <!-- <div class="from__panel">
      <div class="from__line">
    <p class='from__head'>Кому: </p>
    <div class='li__'><p *ngFor="let mails of this.emailServ.mailsToArray; let i = index">{{mails}}<span class='la la-close' (click)='deleteAdress(i)'></span></p></div>
    <input type='email' placeholder="Добавьте имя" [(ngModel)]='this.nameFrom' (blur)='addFrom()'>
      </div>
      <div class="from__line">
        
    <p>От: {{emailServ.selectedLetter.to_address}}</p>
    </div>
    <div class="from__line theme">
      <p>Тема: </p>
      <input type='text' value='{{this.selectedLetter?.subject}}' [(ngModel)]='this.emailServ.subjectTo'>
    </div>
  </div> -->
    <!-- <quill-editor></quill-editor> -->
    <!-- <div class="bottom__panel">
    <button class='reply'>
        <span class='la la-mail-reply'></span>
        Ответить
      </button>

      <button class='reply'>
          <span class='la la-reply-all'></span>
          Ответить всем
        </button>
    </div> -->
  </div>
</div>
<div class="quickResponse quickResponse__active" [ngClass]='{quickResponse__active: quickResponse_active}'>
    <div class="avatar__block" [ngClass]='{avatar__active: quickResponse_active}'>
  <div class="avatar">
    <p class='avatar__title'>{{this.selectedLetter?.from_address}}</p>
  </div>
</div>
<div class="quickResponse__content">
    <div class="quickResponse__panel" [ngClass]='{panel__active: quickResponse_active}'>
        <div class="info__row">
            <p class='info_head'>Кому: </p>
            <div class='info__content_p'><p>{{this.selectedLetter?.from_address}}</p></div>
        </div>
        <button class='one_butt' (click)='show_quick_form(true)'>
            <span class='la la-min la-close'></span>
        </button>
        
  </div>
  <textarea  class='quickResponse__inp' 
  placeholder="Написать быстрый ответ" 
  [ngClass]='{inp__active: quickResponse_active}' 
  (click)='show_quick_form(false)'
  [(ngModel)]='messages'
  #input_cleaner></textarea>
  <div class="quickResponse__panel" [ngClass]='{panel__active: quickResponse_active}'>
    <div class="panel__left">
    <button class='button__send' (click)='quick_send($event)'><span>Отправить</span></button>
    <div class="left__panel end">
    <button>
        <span class='la la-paperclip visible'></span>
      </button>
    </div>

          <p class='btn__text'
          (click)="this.emailServ.newMessage(this.selectedLetter?.from_address,'',this.selectedLetter?.subject)"
          >Перейти в полную версию</p>
  </div>
  <button class='one_butt'>
      <span class='la la-ellipsis-h'></span>
    </button>
</div>

<div class="quickResponse__mail_status" *ngIf="this.sending_status === true">
  <p>Письмо отправляется</p>
</div>
</div>
</div>
</div>
</div>
</ng-template>