<div class="container__view">
  <div class="header">
    <div class="left__panel">
        <button class='new__mess'>
            <span class='la la-new'></span>
            <p class="tooltip">Новое сообщение</p>
          </button>
          <button (click)='selectMess(-1)'>
              <span class='la la-last' ></span>
              <p class="tooltip">Следующее сообщение</p>
            </button>
              <button  (click)='selectMess(1)'>
                  <span class='la la-next'></span>
                  <p class="tooltip">Предыдущее сообщение</p>
                </button>
                <button class='menu' (click)='deleteLetter()'>
                    <span class='la la-delete'></span>
                    <p class="tooltip">Удалить сообщение</p>
                  </button>
    </div>
    <div class="right_panel">
      <button class='menu' (click)='hideMenuShow()'>
      <span class='la la-ellipsis'></span>
      <div class="hideMenu" [ngClass]='{visible: visibleMenu}'>
      </div>
      <p class="tooltip">Меню</p>
    </button>
    <button class='close' (click)='closeViewer()'>
        <span class='la la-close'></span>
        <p class="tooltip">Закрыть</p>
      </button>
    </div>
  </div>
  <div class="messageContainer">
  <div class="mess__info">
    <div class="avatar">
      <!-- <img src={{emailServ.avatar}}> -->
      <p>{{this.emailServ.avatarMake(emailServ.selectedLetter.from_address)}}</p>
    </div>
    <div class="r__info">
    <div class="panel">
    <div class="status_panel">
        <span class='la la-sett' [class.visible]="emailServ.inworkLetter">
            <p class='tooltip'>В работе</p>
        </span>
        <span class="la la-paperclip" [class.visible]="emailServ.haveattachLetter">
            <p class='tooltip'>Вложения</p>
        </span>
        <span class="la la-flag" [class.visible]="emailServ.importantLetter">
            <p class='tooltip'>Важное</p>
        </span>
    <!-- <span class="la la-active-flag"></span> -->
  </div>
  <p class='time'>{{emailServ.selectedLetter.date | timerPipe}}</p>
</div>

<div class='from'>
  <div class='name__block'>От:
    <p class='name'>{{emailServ.selectedLetter.from_address}}</p>
  </div>
  <div class='name__block'>Кому:
    <p class='name' *ngFor="let item of emailServ.selectedLetter.to_addresses">{{item}}</p>
  </div>
  <div class='name__block'>Копия:
    <p class='name'>{{emailServ.selectedLetter.bcc}}</p>
  </div>
</div>

<div class="info">
    
    
    
</div>
</div>
  </div>

  <div class="mess__content">
    <div class="mess__content_body">
    <p class="subject">{{emailServ.selectedLetter.subject}}</p>
    <div [innerHTML]="emailServ.selectedLetter.html | innerhtml"></div>
    <div class='text__view'>{{emailServ.selectedLetter.text}}</div>
    <div class="attachment__block" >
      <div class="attachment__item" *ngFor="let attach of this.attachersList; let i = index">
      <span [class]='attach.type | attachPipe'></span>
      <p class='filename'>{{attach.title}}</p>
      <p class='size'>{{attach.size}}</p>
      </div>

    </div>
    <div class="from__panel">
      <div class="from__line">
    <p class='from__head'>Кому: </p>
    <div class='li__'><p *ngFor="let mails of this.emailServ.mailsToArray; let i = index">{{mails}}<span class='la la-close' (click)='deleteAdress(i)'></span></p></div>
    <input type='email' placeholder="Добавьте имя" [(ngModel)]='this.nameFrom' (blur)='addFrom()'>
      </div>
      <div class="from__line">
        
    <p>От: {{emailServ.selectedLetter.to_address}}</p>
    </div>
    <div class="from__line theme">
      <p>Тема: </p>
      <input type='text' value='{{emailServ.selectedLetter.subject}}' [(ngModel)]='this.emailServ.subjectTo'>
    </div>
  </div>
    <quill-editor></quill-editor>
    <div class="bottom__panel">
    <button class='reply'>
        <span class='la la-reply'></span>
        Ответить
      </button>

      <button class='reply'>
          <span class='la la-end'></span>
          Ответить всем
        </button>
    </div>
  </div>
</div>
</div>
</div>