/* :host{
    width: 12px;
    min-width: 12px;
    background-color: darkgray;
    cursor:w-resize;
    height: calc(100vh - 60px);
} */

:host ::ng-deep {
    .splitters {
        width: 5px;
        min-width: 3px;
        cursor:w-resize;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 5;
    }

    .splitter__body {
        height: 100%;
        width: 0px;
        position: relative;
        z-index: 500;
    }

}


