/* :host{
    width: 12px;
    min-width: 12px;
    background-color: darkgray;
    cursor:w-resize;
    height: calc(100vh - 60px);
} */

:host ::ng-deep {
    .splitters {
        width: 7px;
        min-width: 6px;
        cursor:w-resize;
        height: 30px;
        position: absolute;
        top: 50%;
        z-index: 8;
        background: rgb(68, 68, 68);
        border-radius: 4px;
    }

    .splitter__body {
        height: 100%;
        width: 0px;
        position: relative;
    }

}


