
<div class="letters">
  
  <div class='letter__list'>
    <div class="preloader__letters" *ngIf="this.emailServ.haveResponse === false; else messagesDownload">
        <div class="cssload-speeding-wheel"></div>
        <p>ЗАГРУЗКА</p>
      </div>
      <ng-template #messagesDownload>  
      <div class="no-messages" *ngIf='this.emailServ.notLettersFlag === true && this.stopSearch !== true && this.filterError !== true; 
      else haveMess'>
      <div class="header">
          <div class="header__search">
            <input type="text" placeholder="Поиск" [formControl]='searchLettersInput' class='search__inp'>
            <div class="search__icons">
            <span class='la la-min la-search' *ngIf="this.startSearch === true"></span>
            <span class='la  la-min la-refresh search-ref' *ngIf="this.stopSearch === true"></span>
            <span class='la la-min la-check' *ngIf="this.successSearch === true"></span>
            </div>
          </div>
          <button class='letters__refresh' type='button' (click)='get_message()'>
            <span class='la  la-refresh'></span>
            <p class="tooltip">Обновить</p>
          </button>
          <button class='letters__locate' (click)='scrollTop($event)' type='button'>
            <span class='la  la-long-arrow-up'></span>
            <p class="tooltip">Наверх</p>
          </button>
        </div>
<div class="empty__cont">
  <p>Писем нет но вы держитесь</p>
</div>
      </div>
     
      <ng-template #haveMess>   
     
    <div class="header">
      <div class="header__search">
        <input type="text" placeholder="Поиск" [formControl]='searchLettersInput' class='search__inp'>
        <div class="search__icons">
        <span class='la la-min la-search' *ngIf="this.startSearch === true"></span>
        <span class='la  la-min la-refresh search-ref' *ngIf="this.stopSearch === true"></span>
        <span class='la la-min la-check' *ngIf="this.successSearch === true"></span>
        </div>
      </div>
      <button class='letters__refresh' type='button' (click)='get_message()'>
        <span class='la  la-refresh'></span>
        <p class="tooltip">Обновить</p>
      </button>
      <button class='letters__locate' (click)='scrollTop($event)' type='button'>
        <span class='la  la-long-arrow-up'></span>
        <p class="tooltip">Наверх</p>
      </button>
    </div>

    <div class="hidden__setting_panel" [class.hiddenTrash]='!emailServ.hiddenTrash'>
        <button  type='button'  (click)='deleteRestoreLettersAll(3)' *ngIf="this.emailServ.selectNum !==3; else restoreAll">
            <span class='la la-trash-o'></span>
            <p class="tooltip">Удалить</p>
          </button>
            <button  type='button' (click)='importantMarkAll()'>
              <span class='la la-exclamation'></span>
              <p class="tooltip">Отметить как важные</p>
            </button>
            <button  type='button' (click)='move_folder()'>
                <span class='la la-hand-o-right'></span>
                <p class="tooltip">Поместить в папку</p>
            </button>
            <app-folders-list  *ngIf="this.folder_list_state && this.emailServ.idLetters.length"
            [selected_mail_id]='this.emailServ.idLetters' 
            [mail_id]='this.emailServ.idPostForHTTP'
            [all_folders]='this.emailServ.folders'
            [state_open]='this.folder_list_state'
            [token]='this.authorizationServ.accessToken'
            (state_folders_change)='this.move_folder()'
            ></app-folders-list>
          <ng-template #restoreAll >
          <button  type='button' (click)='deleteRestoreLettersAll(1)'>
            <span class='la la-share-alt'></span>
            <p class="tooltip">Восстановить</p>
          </button>

          
        </ng-template>
    </div>

   

    <div class="letters__items" *ngIf="this.filterError === false; else searchErrorMessage">
      <div class="letter__container" (scroll)='scrollDown($event)' [class.hiddenMenu_plusHeight]='!emailServ.hiddenTrash'>
        <div class='letter__prev'
        *ngFor='let letters of emailServ.lettersList, let i = index'
        routerLinkActive="active"
        [class.important__background]="this.emailServ.lettersList[i].flagged === true"
        [class.active_checkboxes]='emailServ.hideAvatars[i]'
        draggable="true"
        (dragstart)="dragElemStart(letters.mail_id, $event)"

        
        >
        <div class="avatar__group">
          <div class="avatar" (change)='hideAva(i)' >

              <p [class.hiddenName]='emailServ.hideAvatars[i]'>{{letters.from_address.charAt(0)}}</p>

            <!-- <img src='' [class.hiddenAva]='emailServ.hideAvatars[i]'> -->
            <label class='checkedLabel' [class.visibleLabel]='emailServ.hideAvatars[i]'>
              <input type='checkbox' class='checkbox' (change)='selectedLetters(letters.mail_id, $event, i)'>
              <!--собираю id писем с чеккед инпутов-->
              <div class='checker'></div>
            </label>
            <div class="avatar__info-butt"  
          
            [class.active_in_work]='this.emailServ.lettersList[i]?.work_user_id.userId === this.authorizationServ.userId'
            [class.active_in_work_notMe]='this.emailServ.lettersList[i].work_user_id.userId !== this.authorizationServ.userId'
            *ngIf="this.emailServ.lettersList[i].work_user_id !== null"
            >
            </div>
          </div>
        </div>
        <div class="link_activ"
        routerLink="view/{{emailServ.lettersList[i].mail_id}}"
        >
          <div class='info' (click)='urlLetterView($event, i, emailServ.lettersList[i].mail_id)'

          >
            <p class='letter__name' [class.headText__status-new]="letters.seen === false" >{{letters.from_address}}</p>

            <p class='letter__caption' [class.headText__status-new]="letters.seen === false">{{letters.preview}}...</p>
          
             <!-- <div class='letter__text' [innerHTML]="letters.html | innerTextPipe "></div> -->

          </div>
          <div class="settings" (click)='urlLetterView($event, i, emailServ.lettersList[i].mail_id)'

          >
            <p class='time' [class.time-icons__status-new]="letters.seen === false">{{letters.date | timerPipe}}</p>
            <span class="la la-paperclip" [class.visible]="this.emailServ.lettersList[i].attachments !== false" [class.time-icons__status-new]="letters.seen === false">
              <p class='tooltip'>Вложения</p>
            </span>
            <button class='letter__settings' (click)='menuShow($event, i)'  [class.time-icons__status-new]="letters.seen === false">
              <span class='la la-ellipsis-h'></span>
              <p class='tooltip'>Меню</p>
            </button>
            <div class="hideMenu" (click)='close_menu()'>
                <button class='letterMenuButt' *ngIf="!this.emailServ.lettersList[i].work_user_id" (click)='get_work(emailServ.lettersList[i].mail_id, $event, i)'>Взять в работу</button>
                <button class='letterMenuButt' *ngIf="this.emailServ.lettersList[i].work_user_id" (click)='delete_work(emailServ.lettersList[i].mail_id, $event, i)'>Удалить из работы</button>
              <button class='letterMenuButt' (click)='spamMark(i,$event,5, this.emailServ.lettersList[i].mail_id)' *ngIf='this.emailServ.lettersList[i].box_id !== 5 && this.emailServ.lettersList[i].box_id !== 3 ; else deleteSpam'>Пометить как спам</button>
              <ng-template #deleteSpam >
                <button class='letterMenuButt' (click)='spamMark(i,$event,1, this.emailServ.lettersList[i].mail_id)'  *ngIf='this.emailServ.lettersList[i].box_id !== 3'>Удалить из спама</button>
              </ng-template>
              <button class='letterMenuButt' (click)='toggleImportantMark(i,$event, this.emailServ.lettersList[i].mail_id, true)' *ngIf="this.emailServ.lettersList[i].flagged !== true && this.emailServ.typeMess !== 'spam'; else deleteImportant">Пометить как важное</button>
              <ng-template #deleteImportant>
                  <button class='letterMenuButt' (click)='toggleImportantMark(i,$event, this.emailServ.lettersList[i].mail_id, false)' *ngIf="this.emailServ.typeMess !== 'spam'">Удалить из важных</button>
              </ng-template>
              <button class='letterMenuButt' (click)='deleteRestoreLetter(this.emailServ.lettersList[i].mail_id, $event, 3, i)' *ngIf='this.emailServ.lettersList[i].box_id !== 3'>Удалить</button>
              <button class='letterMenuButt' (click)='deleteRestoreLetter(this.emailServ.lettersList[i].mail_id, $event, 1, i)' *ngIf='this.emailServ.lettersList[i].box_id === 3'>Восстановить</button>
              
            </div>
          </div>
        </div>
        </div>
        <div class="letters__end" *ngIf="this.emailServ.dataLetters !== this.emailServ.lettersAmount">
          <p>Все письма загружены</p>
        </div>
      </div>
    </div>
    <ng-template #searchErrorMessage> 
      <p>Письма не найдены</p>
      </ng-template>

  </ng-template>

  </ng-template>

  
  <div class="clickable_cancel_block" (click)='close_menu()' [ngClass]="{visible: this.open_hidden_menu}"></div> 
  </div>
  
    <app-splitter left min='100' max='500' positionLeft='-0.5'></app-splitter>
  
 


  <div class="letters__view">
    <div class="empty" [class.hiddenBlock]='emailServ.hiddenEmpty'>
      
      <div class="empty__cont">
        <span class="la la-envelope-o la-3x"></span>
        <p>Выберите письмо для отображения или</p>
        <button class='main__butt' (click)='this.emailServ.new_clear_message()'
        routerLink="./create"
        >Создайте новое письмо</button>
      </div>

    </div>

    <router-outlet></router-outlet>
  
  </div>
</div>
