
<div class="letters">
  
  <div class='letter__list'>
    <div class="preloader__letters" *ngIf="this.emailServ.haveResponse === false; else messagesDownload">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
              <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
              <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
              <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
              <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
              <div class="wInnerBall"></div>
            </div>
          </div>
        <p>ЗАГРУЗКА</p>
      </div>
      <ng-template #messagesDownload>  
      <div class="no-messages" *ngIf='this.emailServ.notLettersFlag === true && this.stopSearch !== true && this.filterError !== true; 
      else haveMess'>
<div class="header"></div>
<div class="empty__cont">
  <p>Писем нет но вы держитесь</p>
</div>
      </div>
     
      <ng-template #haveMess>   
     
    <div class="header">
      <div class="header__search">
        <input type="text" placeholder="Поиск" [formControl]='searchLettersInput' class='search__inp'>
        <span class='la la-min la-search' *ngIf="this.startSearch === true"></span>
        <span class='la  la-min la-refresh search-ref' *ngIf="this.stopSearch === true"></span>
        <span class='la la-min la-check' *ngIf="this.successSearch === true"></span>
      </div>
      <button class='letters__refresh' type='button'>
        <span class='la  la-refresh'></span>
        <p class="tooltip">Обновить</p>
      </button>
      <button class='letters__locate' (click)='scrollTop($event)' type='button'>
        <span class='la  la-long-arrow-up'></span>
        <p class="tooltip">Наверх</p>
      </button>
    </div>

    <div class="hidden__setting_panel" [class.hiddenTrash]='!emailServ.hiddenTrash'>
        <button class='letters__delete' type='button'  (click)='deleteRestoreLettersAll(2)' *ngIf="this.emailServ.typeMess !=='delete'; else restoreAll">
            <span class='la la-trash-o'></span>
            <p class="tooltip">Удалить</p>
          </button>
          <ng-template #restoreAll >
          <button class='letters__delete' type='button' (click)='deleteRestoreLettersAll(0)'>
            <span class='la la-share-alt'></span>
            <p class="tooltip">Восстановить</p>
          </button>
        </ng-template>
    </div>

   

    <div class="letters__items" *ngIf="this.filterError === false; else searchErrorMessage">
      <div class="letter__container" (scroll)='scrollDown($event)' [class.hiddenMenu_plusHeight]='!emailServ.hiddenTrash'>
        <div class='letter__prev'
        *ngFor='let letters of emailServ.lettersList, let i = index'
        [class.active]="emailServ.activeLett[i]"
        [class.important__background]="this.emailServ.lettersList[i].flagged === true"
        [class.active_checkboxes]='emailServ.hideAvatars[i]'
        (dblclick)="new_messages_dblClick(i)"

        routerLink="view/{{i}}"
        
        >
        <div class="avatar__group">
          <div class="avatar" (change)='hideAva(i)' >

              <p [class.hiddenName]='emailServ.hideAvatars[i]'>{{letters.from_address}}</p>

            <!-- <img src='' [class.hiddenAva]='emailServ.hideAvatars[i]'> -->
            <label class='checkedLabel' [class.visibleLabel]='emailServ.hideAvatars[i]'>
              <input type='checkbox' class='checkbox' (change)='selectedLetters(letters.id, $event, i)'>
              <!--собираю id писем с чеккед инпутов-->
              <div class='checker'></div>
            </label>
            <div class="avatar__info-butt"  
          
            [class.active_in_work]='this.emailServ.lettersList[i].draft === this.emailServ.idPostForHTTP'
            [class.active_in_work_notMe]='this.emailServ.lettersList[i].draft !== this.emailServ.idPostForHTTP'
            *ngIf="this.emailServ.lettersList[i].draft !== null"
            >
            </div>
          </div>
        </div>
          <div class='info' (click)='urlLetterView($event, i, emailServ.lettersList[i].id)'

          >
            <p class='letter__name' [class.headText__status-new]="letters.seen === false" >{{letters.from_address}}</p>

            <p class='letter__caption' [class.headText__status-new]="letters.seen === false">{{letters.subject}}</p>
          
             <!-- <div class='letter__text' [innerHTML]="letters.html | innerTextPipe "></div> -->

          </div>
          <div class="settings" (click)='urlLetterView($event, i, emailServ.lettersList[i].id)'

          >
            <p class='time' [class.time-icons__status-new]="letters.seen === false">{{letters.date | timerPipe}}</p>
            <span class="la la-paperclip" [class.visible]="this.emailServ.lettersList[i].attachments === true" [class.time-icons__status-new]="letters.seen === false">
              <p class='tooltip'>Вложения</p>
            </span>
            <button class='letter__settings' (click)='menuShow($event, i)' *ngIf="sent_incomingChecker(i)" [class.time-icons__status-new]="letters.seen === false">
              <span class='la la-ellipsis-h'></span>
              <p class='tooltip'>Меню</p>
            </button>
            <div class="hideMenu" *ngIf="sent_incomingChecker(i)">
                <button class='letterMenuButt' *ngIf="!this.emailServ.lettersList[i].draft" (click)='get_work(emailServ.lettersList[i].id, $event, i)'>Взять в работу</button>
                <button class='letterMenuButt' *ngIf="this.emailServ.lettersList[i].draft" (click)='delete_work(emailServ.lettersList[i].id, $event, i)'>Удалить из работы</button>
              <button class='letterMenuButt' (click)='spamMark(i,$event,4, this.emailServ.lettersList[i].id)' *ngIf='this.emailServ.lettersList[i].box !== 4 && this.emailServ.lettersList[i].box !== 2 ; else deleteSpam'>Пометить как спам</button>
              <ng-template #deleteSpam >
                <button class='letterMenuButt' (click)='spamMark(i,$event,0, this.emailServ.lettersList[i].id)'  *ngIf='this.emailServ.lettersList[i].box !== 2'>Удалить из спама</button>
              </ng-template>
              <button class='letterMenuButt' (click)='toggleImportantMark(i,$event, this.emailServ.lettersList[i].id, true)' *ngIf="this.emailServ.lettersList[i].flagged !== true && this.emailServ.typeMess !== 'spam'; else deleteImportant">Пометить как важное</button>
              <ng-template #deleteImportant>
                  <button class='letterMenuButt' (click)='toggleImportantMark(i,$event, this.emailServ.lettersList[i].id, false)' *ngIf="this.emailServ.typeMess !== 'spam'">Удалить из важных</button>
              </ng-template>
              <button class='letterMenuButt' (click)='deleteRestoreLetter(this.emailServ.lettersList[i].id, $event, 2)' *ngIf='this.emailServ.lettersList[i].box !== 2'>Удалить</button>
              <button class='letterMenuButt' (click)='deleteRestoreLetter(this.emailServ.lettersList[i].id, $event, 0)' *ngIf='this.emailServ.lettersList[i].box === 2'>Восстановить</button>
            </div>
          </div>
        </div>
        <div class="letters__end" *ngIf="this.emailServ.dataLetters !== this.emailServ.lettersAmount">
          <p>Все письма загружены</p>
        </div>
      </div>
    </div>
    <ng-template #searchErrorMessage> 
      <p>Письма не найдены</p>
      </ng-template>

  </ng-template>

  </ng-template>

  
  
  </div>
  
    <app-splitter left min='100' max='500' positionLeft='-0.5'></app-splitter>
  
 


  <div class="letters__view">
    <div class="empty" [class.hiddenBlock]='emailServ.hiddenEmpty'>
      
      <div class="empty__cont">
        <span class="la la-envelope-o la-3x"></span>
        <p>Выберите письмо для отображения или</p>
        <button class='main__butt' (click)='this.emailServ.new_clear_message()'
        routerLink="./create"
        >Создайте новое письмо</button>
      </div>

    </div>
    <router-outlet></router-outlet>
  </div>

</div>