<div class="letters">
  
  
  <div class='letter__list'>
      <div class="no-messages" *ngIf='emailServ.noMessages; else haveMess'>
<div class="header"></div>
<div class="empty__cont">
  <p>Писем нет но вы держитесь</p>
</div>
      </div>
      <ng-template #haveMess>   
    <div class="header">
      <div class="header__search">
        <input type="text" placeholder="Поиск">
        <span class='la la-search'></span>
      </div>
      <button class='letters__delete' type='button' [class.hiddenTrash]='emailServ.hiddenTrash'>
        <span class='la la-delete'></span>
        <p class="tooltip">Удалить</p>
      </button>
      <button class='letters__refresh' type='button'>
        <span class='la la-refresh'></span>
        <p class="tooltip">Обновить</p>
      </button>
      <button class='letters__locate' (click)='scrollTop($event)' type='button'>
        <span class='la la-locate'></span>
        <p class="tooltip">Наверх</p>
      </button>
    </div>

    <div class="letters__items">
      <div class="letter__container" (scroll)='scrollDown($event)'>
        <div class='letter__prev'
        *ngFor='let letters of emailServ.lettersList, let i = index'
        [class.active]="emailServ.activeLett[i]"
        [class.letter__status-spam]="statusMessageSpam(i)"
        >
          <div class="avatar" (change)='hideAva(i)' [class.ava__status-new]="statusMessageCheck(i)">
            <img src='{{letters.avaSrc}}' [class.hiddenAva]='emailServ.hideAvatars[i]'>
            <label class='checkedLabel' [class.visibleLabel]='emailServ.hideAvatars[i]'>
              <input type='checkbox' class='checkbox' (change)='selectedLetters(letters.id, $event, i)'>
              <!--собираю id писем с чеккед инпутов-->
              <div class='checker'></div>
            </label>
          </div>
          <div class='info' (click)='activeEl(i, emailServ.lettersList[i].id)' (click)='urlLetterView(i, letters.mail_from, letters.date, letters.avaSrc, letters.subject, letters.html, i, letters.emailCopy, letters.messageCondition)'>
            <div class='prev__panel'>
              <div class="status_panel">
                <span class='la la-sett' [class.visible]="this.emailServ.lettersList[i].draft === true">
                    <p class='tooltip'>В работе</p>
                </span>
                <span class="la la-paperclip" [class.visible]="this.emailServ.lettersList[i].attachment === true">
                    <p class='tooltip'>Вложения</p>
                </span>
                <span class="la la-flag" [class.visible]="this.emailServ.lettersList[i].flagged === true">
                    <p class='tooltip'>Важное</p>
                </span>
                <!-- <span class="la la-active-flag"></span> -->
              </div>


            </div>
            <p class='letter__name' [class.headText__status-new]="statusMessageCheck(i)">{{letters.mail_from}}</p>
            <p class='letter__caption' [class.headText__status-new]="statusMessageCheck(i)">{{letters.subject}}</p>
            <div class='letter__text'>{{letters.html}}</div>



          </div>
          <div class="settings">
            <p class='time'>{{letters.date}}</p>
            <button class='letter__settings' (click)='menuShow($event)' *ngIf="sent_incomingChecker(i)">
              <span class='la la-ellipsis'></span>
              
              <p class='tooltip'>Меню</p>
            </button>
            <div class="hideMenu" *ngIf="sent_incomingChecker(i)">
              <button class='letterMenuButt' (click)='spamMark(i,$event,4)' *ngIf='this.emailServ.lettersList[i].box !== 4; else deleteSpam'>Пометить как спам</button>
              <ng-template #deleteSpam>
                <button class='letterMenuButt' (click)='spamMark(i,$event,0)'>Удалить из спама</button>
              </ng-template>
              <button class='letterMenuButt' (click)='toggleImportantMark(i,$event, this.emailServ.lettersList[i])' *ngIf='this.emailServ.lettersList[i].flagged !== true; else deleteImportant'>Пометить как важное</button>
              <ng-template #deleteImportant>
                  <button class='letterMenuButt' (click)='toggleImportantMark(i,$event)'>Удалить из важных</button>
              </ng-template>
              <button class='letterMenuButt' >Удалить</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-template>
  </div>


  <div class="letters__view">
    <div class="empty" [class.hiddenBlock]='emailServ.hiddenEmpty'>
      <div class="header"></div>
      <div class="empty__cont">
        <span class="la la-letter"></span>
        <p>Выберите письмо для отображения или</p>
        <button class='main__butt' (click)='newMessage()'>Создайте новое письмо</button>
      </div>

    </div>
    <router-outlet></router-outlet>
  </div>

</div>