@import '../mixins';
@import '../../../colors';
@import '../preloader';

:host {
    flex-grow: 11;
}

.letters {
    width: 100%;
    display: flex;
    flex-direction: row;
    // overflow-y: auto;
    // overflow-x: hidden;
}

$font-color: $icons-color;

.header {
    @include header(row);
    height: 40px;
    border-bottom: 1px solid $border;
    background: #f7fbfe;
    padding: 0 10px;

    span {
        color: #092955;
    }
}

.letter__list {
    width: 350px;
    flex-shrink: 0;
    border-right:  1px solid $border;
    box-shadow: -7px 0 18px 4px rgba(0,0,0,.1) inset;
    background: #f7fbfe;
    z-index: 5;
    box-sizing: border-box;

}
.letters__view {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    box-shadow: -7px 0px 18px 4px rgba(0,0,0,.1);
    z-index: 4;
    // position: relative;
    // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 60px;
    //     // border: 1px solid $border;
    //     border-left: 0px;
    //     top:0;
    //     left: 0;
    //     box-sizing: border-box;
    //     z-index: -1;
    // }
    
}





.header__search {
    flex-grow: 1;
    box-sizing: border-box;
    border: solid 1px $border;
    border-radius: 3px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $font-color;
    transition: .2s;
    position: relative;
    margin-right: 10px;
    

    &:hover {
        border-color: rgb(8, 7, 7);
    }

    input {
        width: 100%;
        height: 100%;
        border:none;
        box-sizing: border-box; 
    }
}

.search__icons {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;

    span {
        color: #9cabc1;
    }
}



.search__inp {
    box-sizing: border-box;
    padding: 0 10px;
    background: #d9e6f7;
    
}
.search__inp:focus {
background: rgba(141, 175, 255, 0.507);

}





    .letters__delete {
        overflow: hidden;
    }



.la-ok {
    font-size: 20px;
    line-height: 20px;
    color: $font-color;
    &::before {
        content: '\f00c';
    }
}

.search-ref {
    font-size: 20px;
    line-height: 20px;
    animation: searcher 2s infinite;
}

@keyframes searcher {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}





.letters__items {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top: 0px;
    box-sizing: border-box;
}

.letter__container {
    height: 100vh;
    max-height: calc(100vh - 105px);
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 30px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}



.letter__prev {
    
    @include prev_styles(row, center, 0px);

    
    height: 50px;
    position: relative;
    overflow: initial;
    transition: .5s;
    outline: none;

    &:hover:not(.important__background){
        background: #dcdcdc;
    }


}

.avatar__group {
    width: 66px;
    height: 50px;
    padding: 10px 16px 10px 20px;
    box-sizing: border-box;
    
}


.avatar {
    @extend %avatar;

&:hover p{
    transition: .5s;
    font-size: 0;
}
    
    &:hover img {
        transform: rotateY(270deg);
    }
    // &:hover label{
    //     z-index: 1;
    //     opacity: 1;
    // }
    &:hover {
        background: #a9bad2;
    }
    input {
        position: absolute;
        top:10%;
        left: 0;
        width: 50px;
        opacity: 0;
        z-index: -1;
            // z-index: 55555555;
    }
}



// label {
//     position: absolute;
//     top:0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     overflow: hidden;
    
//   cursor: pointer;
//   z-index: -1;
//   opacity: 0;
//   transition: .4s;

  
// }

// .checker {
//     position: absolute;
//   width: 100%;
//   height: 100%;
//   cursor: pointer;
//   background: url('../../../assets/checked.png') no-repeat center;
//     background-size: 15px 15px;
// }

// .checker::before{
//     content: '';
//   position: absolute;
//   top:0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
// //   background: #CDD1DA;

//   transition: .2s;
// }

// .checkbox:checked + .checker::before {

//     background: url('../../../assets/checked.png') no-repeat center, #8393ad;
//     background-size: 15px 15px;
    
//   }


  .avatar__info-butt {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #cccccc;
      border-radius: 50%;
      top:0;
      left: 20px;
      z-index: 1;

  }

  .info {
      
      padding: 5px 5px 5px 0;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      flex-grow: 1;
      flex-shrink: 1;
      width: 0;
      overflow: hidden;
  }

  .settings {
  
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      align-items: flex-end;
      padding: 5px 10px 5px 5px;
      box-sizing: border-box;
      flex-shrink: 0;
      z-index: 6;
    

  }

    .inwork {
        width: 20px;
        height: 100%;
        margin: 0 5px;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        &__btn_take {
            width: 100%;
            height: 20px;
            background: url('../../../assets/takeinwork.svg') no-repeat center;
            background-size: 100% 100%;
            cursor: pointer;

            &.my_inwork {
                background: url('../../../assets/my_inwork.svg') no-repeat center;
                background-size: 100% 100%;
            }

            &.not_my {
                background: url('../../../assets/not_my_inwork.svg') no-repeat center;
                background-size: 100% 100%;
            }
        }
    }

    .row__block {
        display: flex;
        width: 100%;
        align-items: flex-end;
  
    }

    .counter {
        margin-right: 5px;
        padding: 0px 5px;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid #9CABC2;
        display: flex;
        align-items: center;

        span {
            font-size: 11px;
            line-height: 16px;
            color: #9CABC2;
        }
    }

  .time {
          
    color: $time-icons;
    font-size: 9px;
    line-height: 1;
    text-align: right;
    user-select: none;
}
      
.letter__settings {
    color:$time-icons;
    width: 20px;
    height: 14px;
    line-height: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    span {
        line-height: 0;
    } 
}
.la-paperclip {
    width: 8px;
    font-size: 10px;
    line-height: 1;
    color:$time-icons;
    flex-shrink: 0;
}

[class^='letter']{
    line-height: 18px;
}

.letter__text {
    @extend %title_text;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    height: 20px;
}

.letter__name,
.letter__caption {
    color: #262626;
    font-size: 13px; 
    line-height: 20px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}
.letter__caption {
    font-size: 13px; 
    line-height: 20px;
}

.active {
    background: #d0d0d0;
    &::before {
        opacity: 1;
    }
}

.active_checkboxes {
    background: #d0d0d0;
}


.prev__panel {
@include panel-mix();

}

.hiddenAva {
    opacity: 0 !important;
    display: block;
}


.visibleLabel {
    z-index: 1;
    opacity: 1;
}
.hiddenName {
    opacity: 0;
}



    .headText__status-new {
        font-family: 'Roboto-Bold';
        color: $text-color;
    }
    .time-icons__status-new {
        color: $text-color;
    }





.hideMenu {
    @include hideMenu(200px,auto,0px,100%,white);   
    padding: 5px 0;
    box-sizing: border-box;
    border-radius: 4px;
}





.letter__status-spam {
    // background: rgba(231, 6, 6, 0.116) !important;
    position: relative;
    animation: .6s spamMarkAnimat;
}

@keyframes spamMarkAnimat {
    0% {
        opacity: 0.8;
        transform: translateX(0px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.1;
        transform: translateX(-650px);
    }
}


.main__butt {
    width: 200px;
    background: #d9e6f7;
}

.no-messages {
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f3f5f7;
}


.letters__end {
    padding-top: 30px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 13px;
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #929292;
    }
}





.hidden__setting_panel {
height: 50px;
display: flex;
align-items: center;
width: 100%;
transition: .5s;
border-bottom: 1px solid $border;
padding: 0 10px 0 20px;
box-sizing: border-box;


}



.important__background {
    background: #FFE5E5;

    &:hover {
        background: #FEB4B4;
    }
    &.active {
        background: #FEB4B4;
    }
    &.active_checkboxes {
        background: #FEB4B4;
    }
}



.active_in_work {
    background: #3eb5f1;
}

.active_in_work_notMe {
    
    box-sizing: border-box;
    background: #2d5a81;
}



.link_activ {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid $border;
}


.clickable_cancel_block {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 6;
    display: none;
    

    &.visible {
         display: block;

    }
}

.folders_do_active span{
    color: #0476C3;
}



.checkbox_block {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #6B7FA0;
    transition: .1s;
    flex-shrink: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto-Bold';
    
    color:white;
    font-size: 16px;
    line-height: 30px;
    

    &:hover {
        background: url('../../../assets/checked.svg') no-repeat center , #2D5A81;
        background-size: 18px 18px;
        font-size: 0;
    }

}

.avatar_checkboxes:checked + .checkbox_block {
    background: url('../../../assets/checked.svg') no-repeat center , #2D5A81;
    background-size: 18px 18px;
    font-size: 0;
}

.hidden_checkbox {
    display: none;
}

.empty__cont {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.setting {
    width: 20px;
    height: 10px;
    flex-shrink: 0;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover span{
            color: #6B7FA0;
    }

    span {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: #9CABC2;

       
    }
}

.hidden_checkbox {
    display: none;
}

.settings_checkbox + .hideMenu {
    display: none;
}

.settings_checkbox:checked + .hideMenu {
display: flex;
}

.settings_checkbox:checked + .hideMenu + .setting span{
color: #0476C3;
}



