@import '../mixins';
@import '../../../colors';
@import '../preloader';

:host {
    flex-grow: 11;
}

.letters {
    width: 100%;
    display: flex;
    flex-direction: row;
    // overflow-y: auto;
    // overflow-x: hidden;
}

$font-color: $icons-color;

.header {
    @include header(row);
    height: 40px;
    border-bottom: 1px solid $border;
    background: #f7fbfe;
    padding: 0 10px;

    span {
        color: #092955;
    }
}

.letter__list {
    width: 350px;
    flex-shrink: 0;
    border-right:  1px solid $border;
    box-shadow: -7px 0 18px 4px rgba(0,0,0,.1);
    background: #f7fbfe;
    z-index: 1;
    box-sizing: border-box;

}
.letters__view {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    box-shadow: -7px 0px 18px 4px rgba(0,0,0,.1);
    z-index: 2;
    // position: relative;
    // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 60px;
    //     // border: 1px solid $border;
    //     border-left: 0px;
    //     top:0;
    //     left: 0;
    //     box-sizing: border-box;
    //     z-index: -1;
    // }
    
}
.empty {
    width: 100%;
    height: 100%;
}
.preloader__letters {
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty__cont {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     p{
        width: 230px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #858585;
        margin-bottom: 20px;
        text-align: center;
     }

}

.hiddenBlock {
    display: none;
}

.header__search {
    flex-grow: 1;
    box-sizing: border-box;
    border: solid 1px $border;
    border-radius: 3px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $font-color;
    transition: .2s;
    position: relative;
    margin-right: 10px;
    

    &:hover {
        border-color: rgb(8, 7, 7);
    }

    input {
        width: 100%;
        height: 100%;
        border:none;
        box-sizing: border-box; 
    }
}

.search__icons {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;

    span {
        color: #9cabc1;
    }
}



.search__inp {
    box-sizing: border-box;
    padding: 0 10px;
    background: #d9e6f7;
    
}
.search__inp:focus {
background: rgba(141, 175, 255, 0.507);

}





    .letters__delete {
        overflow: hidden;
    }



.la-ok {
    font-size: 20px;
    line-height: 20px;
    color: $font-color;
    &::before {
        content: '\f00c';
    }
}

.search-ref {
    font-size: 20px;
    line-height: 20px;
    animation: searcher 2s infinite;
}

@keyframes searcher {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}





.letters__items {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top: 0px;
    box-sizing: border-box;
}

.letter__container {
    height: auto;
    max-height: calc(100vh - 105px);
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 30px;
    overflow-x: hidden;
}



.letter__prev {
    
    @include prev_styles(row, center, 0px);

    
    height: 50px;
    position: relative;
    overflow: initial;
    transition: .5s;
    outline: none;

    &:hover:not(.important__background){
        background: #dcdcdc;
    }


}

.avatar__group {
    width: 66px;
    height: 50px;
    padding: 10px 16px 10px 20px;
    box-sizing: border-box;
    
}


.avatar {
    @extend %avatar;

&:hover p{
    transition: .5s;
    font-size: 0;
}
    
    &:hover img {
        transform: rotateY(270deg);
    }
    &:hover label{
        z-index: 1;
        opacity: 1;
    }
    &:hover {
        background: #a9bad2;
    }
    input {
        position: absolute;
        top:10%;
        left: 0;
        width: 50px;
        opacity: 0;
        z-index: -1;
            // z-index: 55555555;
    }
}



label {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: .4s;

  
}

.checker {
    position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url('../../../assets/checked.png') no-repeat center;
    background-size: 15px 15px;
}

.checker::before{
    content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
//   background: #CDD1DA;

  transition: .2s;
}

.checkbox:checked + .checker::before {

    background: url('../../../assets/checked.png') no-repeat center, #8393ad;
    background-size: 15px 15px;
    
  }


  .avatar__info-butt {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #cccccc;
      border-radius: 50%;
      top:0;
      left: 20px;
      z-index: 1;

      &:hover .tooltip {
        display: block;
     }
  }

  .info {
      
      padding: 5px 5px 5px 0;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      flex: 1;
      overflow: hidden;
  }

  .settings {
  
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      align-items: flex-end;
      padding: 10px 8px 0px 5px;
      box-sizing: border-box;
      flex-shrink: 0;

  }
  .time {
          
    color: $time-icons;
    font-size: 9px;
    line-height: 1;
    text-align: right;
    user-select: none;
}
      
.letter__settings {
    color:$time-icons;
    width: 20px;
    height: 14px;
    line-height: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        line-height: 0;
    } 
}
.la-paperclip {
    width: 8px;
    height: 7px;
    font-size: 10px;
    line-height: 1;
    color:$time-icons;
}

[class^='letter']{
    line-height: 18px;
}

.letter__text {
    @extend %title_text;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    height: 20px;
}

.letter__name,
.letter__caption {
    color: #929292;
    font-size: 13px; 
    line-height: 20px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}
.letter__caption {
    font-size: 13px; 
    line-height: 20px;
}

.active {
    background: #d0d0d0;
    &::before {
        opacity: 1;
    }
}

.active_checkboxes {
    background: #d0d0d0;
}


.prev__panel {
@include panel-mix();

}

.hiddenAva {
    opacity: 0 !important;
    display: block;
}


.visibleLabel {
    z-index: 1;
    opacity: 1;
}
.hiddenName {
    opacity: 0;
}



    .headText__status-new {
        font-family: 'Roboto-Bold';
        color: $text-color;
    }
    .time-icons__status-new {
        color: $text-color;
    }





.hideMenu {
    @include hideMenu(180px,auto,0px,100%,rgba(0, 0, 0, 0.541));   
}





.letter__status-spam {
    // background: rgba(231, 6, 6, 0.116) !important;
    position: relative;
    animation: .6s spamMarkAnimat;
}

@keyframes spamMarkAnimat {
    0% {
        opacity: 0.8;
        transform: translateX(0px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.1;
        transform: translateX(-650px);
    }
}


.main__butt {
    width: 200px;
}

.no-messages {
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f3f5f7;
}


.letters__end {
    padding-top: 30px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 13px;
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #929292;
    }
}





.hidden__setting_panel {
    overflow: hidden;
height: 0px;
display: flex;
align-items: center;
width: 100%;
transition: .5s;
}

.hiddenTrash {
    overflow: visible;
    height: 40px;
    border-bottom: 1px solid $border;
}

.hiddenMenu_plusHeight {
    max-height: calc(100vh - 165px);
}

.important__background {
    background: #ffe5e5;

    &:hover {
        background: #edd7d7;
    }
    &.active {
        background: #ff9999;
    }
    &.active_checkboxes {
        background: #ff9999;
    }
}



.active_in_work {
    background: #3eb5f1;
}

.active_in_work_notMe {
    
    box-sizing: border-box;
    background: #2d5a81;
}



.link_activ {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid $border;
}