<div class="newMessage__container" (dragover)='dragStart($event)'>
  <div class="header">
    <div class="left__group">
      <div class="left__panel end">
        <button class='new_btn'
        routerLink="../create"
        (click) = 'clear_msg()'
        ><span class='la la-envelope'></span><span class='new_btn__title'>Новое сообщение</span></button>
        <button class='new_btn'
        routerLink="../create"
        [queryParams] = "{'new':'true'}"
        *ngIf="this.edit_template"
        ><span class='mc template_icon'></span><span class='new_btn__title'>Новый шаблон</span></button>

        <button class='new_btn'
        *ngIf="this.new_template_name"
        title="Избранное"
        (click) = 'this.emailServ.important_template(this.important_template, this.mail_id)'

        ><span class='la la-star-o'
        *ngIf="!this.important_template"
        ></span>
        <span class='la la-star'
        *ngIf="this.important_template"
        ></span>
      </button>

        <div class="stick_splitter"></div>

        <button class='new_btn'
        *ngIf="this.edit_template"
        title="Удалить шаблон"
        (click) = 'this.emailServ.delete_template(this.mail_id)'
        routerLink="../template"
        ><span class='la la-trash'></span></button>

      <app-template 
      [ip]='this.emailServ.ip' 
      [email_address]='this.emailServ.idPostForHTTP'
      *ngIf="!this.edit_template && this.new_tmp_state !== 'true'"
      ></app-template>
      </div>

        </div>

      <button class='close' (click)='closeViewer()' title='Закрыть'>
          <span class='la la-close'></span>
        </button>
  </div>
  <div class="message__body">
    <div class="template_name" *ngIf="this.edit_template"><p [ngClass]="{opacity_off: !this.new_template_name}">Название шаблона: {{this.template_title}}</p>
        <span (click)='this.toggle_inputs_field(true)' *ngIf="!this.hidden_input_fields">Раскрыть поля ввода</span>
        <span (click)='this.toggle_inputs_field(false)' *ngIf="this.hidden_input_fields">Скрыть поля ввода</span>
    </div>
<div class="avatar__block" *ngIf="this.hidden_input_fields">
    <div class="avatar">
        <p class='avatar__title'>{{this?.from.charAt(0)}}</p>
      </div>
      <div class="avatar__row_block" (click)='select_new_address($event)'>
      <p class='head__p'>От: {{this?.from}}</p>
      <button class='select_btn'>
        <span class='la la-angle-down'></span>
      </button>
      <ul class="hidden_block" [ngClass]="{visibl: this.open_select_address}">
          <li *ngFor="let address of this.emailServ.all_user_mail_address" class='select_li'>{{address}}</li>
      </ul>
      </div>
</div>


<div class="row__block" *ngIf="this.hidden_input_fields">
    <p class='head__p'>Кому: </p>
    <div class="new_message__bables" *ngFor="let item of this.to, let i = index" 
    [ngClass]="{not__addressess: this.to[0] === '' || this.to[0] === undefined }"
    (click)='show_babl_menu($event, i)'
    >
      <p class='babl_name'>{{item}}</p>
      <input type="text" value={{this.to[i]}} class='hide babl_inp' 
      
      (change)='edit_babl($event,i,this.to)'
      (blur)='edit_babl($event,i,this.to)'
      >
      <span class='la la-micro la-close' (click)='delete_data_clickEvent(this.to, $event, i)'></span>
      <div class="babl__menu">
        <button class="babl__menu_btn" (click)='edit_babl_open($event)'>Редактировать</button>
      </div>
    </div>
    <input class='input_fields' 
    (blur)="add_data(this.to, $event)" 
    (keydown)='add_data_keyEvent(this.to, $event)'
    
    >
</div>
<div class="row__block" *ngIf="this.hidden_input_fields">
    <p class='head__p'>Копия: </p>
    <div class="new_message__bables" *ngFor="let item of this.copy,let i = index" 
    [ngClass]="{not__addressess: this.copy.length === 0}"
    (click)='show_babl_menu($event, i)'
    >
        <p class='babl_name'>{{item}}</p>
        <input type="text" value={{this.copy[i]}} class='hide babl_inp'
        (change)='edit_babl($event,i,this.copy)'
        (blur)='edit_babl($event,i,this.copy)'
        >
        <span class='la la-micro la-close' (click)='delete_data_clickEvent(this.copy, $event, i)'></span>
        <div class="babl__menu">
          <button class="babl__menu_btn" (click)='edit_babl_open($event)'>Редактировать</button>
        </div>
      </div>
    <input class='input_fields' 
    (blur)="add_data(this.copy, $event)" 
    (keydown)=' add_data_keyEvent(this.copy, $event)'
    
    >
</div>
<div class="row__block" *ngIf="this.hidden_input_fields">
    <p class='head__p'>Скрытая: </p>
    <div class="new_message__bables" *ngFor="let item of this.hidden_copy,let i = index" 
    [ngClass]="{not__addressess: this.hidden_copy.length === 0}"
    (click)='show_babl_menu($event, i)'
    >
        <p class='babl_name'>{{item}}</p>
        <input type="text" value={{this.hidden_copy[i]}} class='hide babl_inp'
        (change)='edit_babl($event,i,this.hidden_copy)'
        (blur)='edit_babl($event,i,this.hidden_copy)'
        >
        <span class='la la-micro la-close' (click)='delete_data_clickEvent(this.hidden_copy, $event, i)'></span>
        <div class="babl__menu">
          <button class="babl__menu_btn" (click)='edit_babl_open($event)'>Редактировать</button>
        </div>
      </div>
    <input class='input_fields' 
    (blur)="add_data(this.hidden_copy, $event)" 
    (keydown)=' add_data_keyEvent(this.hidden_copy, $event)'
    
    >
</div>

<div class="row__block" *ngIf="this.hidden_input_fields">
    <p class='head__p'>Тема: </p>

    <textarea class='input_fields subject' [(ngModel)]='this.subject' >{{this.subject}}</textarea>
</div>
<div class="row__block end_group" *ngIf="this.hidden_input_fields">
  <label>
      <span class='la la-paperclip visible'></span>
  <input type='file' class='file_btn' (change)='onFileChange($event)' multiple>
  <span class='button__title'>Прикрепить файл или перетащите файлы</span>
</label>


</div>


<div class="attachments" *ngIf="this.files_for_view.length !==0"
[ngClass]="{mini_prev_attach: this.files_for_view.length === 1}"
>
  <div class="attach_scrollBar">
    <div class="attach_group" *ngFor="let all_file of this.files_for_view; let i = index"


    >
      <div class="name__block">
      <span [class]='all_file.name | attachPipe'></span>
      <p class='filename'>{{all_file.name}}</p>
      
      
    </div>
    <p class='size'>{{all_file.size | sizer}}</p>
      <span class='la la-micro la-close' (click)='delete_attach(i)'></span>
      </div>
    </div>
  </div>



    <div class="editor-qu">
      <quill-editor
      class='quill_styles'
      [formControl]='messages_for_draft'
      style="white-space: pre-wrap;"
      >
      
      
      </quill-editor>
      <div class="qu__bottom_block">
      <input type="submit" value='Отправить' (click)='sendMessage()'>
      <div class="stick_splitter"></div>
      <button class='save_templ' (click)='open_save_template()' *ngIf="this.status !== 'template' || this.can_save_tmp === 'true'">Сохранить как шаблон</button>
      
      <button class='save_templ' *ngIf="this.edit_template === true" (click)='send_and_save_tmp($event)'>Сохранить изменения</button>
      </div> 
    </div>
    
    <div class="message__preload" *ngIf="this.messages_sending === true">
        <div class="cssload-speeding-wheel" ></div>
      <p>Отправка письма</p>
    </div>
  </div>
  <div class="drag_region"  (dragleave)='dragEnd($event)' (dragover)='dragStart($event)' (drop)='drop($event)'>
    <p>Брось файл тут</p>
  </div>




  <div class="hidden_template_create" [ngClass]="{visibl: this.save_tmp_state}">
      <div class='templ_name' >
        <div class="title_txt">Сохранение шаблона</div>
        <div class="row__names">
            <p>Название шаблона</p>
            <input type="text"
              [(ngModel)]='this.tmp_name' 
              class='tmp_name_inp'
              autofocus>
            </div>
            <button class='favorite'
            (click) = 'toggle_important_flag()'
            >
              <span class='la la-star-o' *ngIf="!this.important_tmp"></span>
                <span class='la la-star' *ngIf="this.important_tmp"></span>
                Сделать избранным</button>
  
            <div class="buttons_block">
                <button class='create' (click)='save_template()'>
                    Создать
                  </button>
  
                  <button class='cancel' (click)='cancel_template()'>
                      Отмена
                    </button>
  
            </div>
        
      </div>
    </div>
</div>




