@import '../mixins';
@import '../../../colors';
@import '../preloader';


.header {
    @include header(row);
        background: #f7fbfe;
        padding: 0 0px;
}

%title_text {
    color: black;
    opacity: .5;
    font-size: 13px;
}
%border-bottom {
    border-bottom: 1px solid #e2ebfa;
}

.message__body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 120px);
    box-sizing: border-box;


    .inp__mess {
        @include inputs;
    }
}
.close {
    margin: 0;
    padding: 0;
}

.custom__button {
    width: auto;
    padding: 0 4px;
    box-sizing: border-box;
}

.button__title {
    margin-left: 4px;
    @extend %title_text;
}



.editor-qu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.quill_styles {
    flex: 1;
    border: 1px solid #d9e6f7;
}


[type='submit'] {
    width: 100px;
	height: 30px;
    border: solid 1px $border;
    cursor: pointer;
    flex-shrink: 0;
    align-self: flex-start;
    border-radius: 4px;
}


.avatar__block {
    flex-shrink: 0;
    margin-top: 16px;
    width: 100%;
    padding: 0 60px 0px 10px;
    box-sizing: border-box;
    height: 40px;  
    display: flex;
    align-items: center;
}

.avatar {
    @extend %avatar;

    width: 40px;
    height: 40px;
    margin-right: 10px;

            p {
        padding: 0;
        margin: 0;
        color:white;
        font-size: 20px;
        line-height: 24px;
            }
}

.avatar__row_block {
    @extend %border-bottom;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}


.head__p {
    @extend %title_text;
    font-size: 13px;
    line-height: 25px;
    margin-right: 8px;
}

.mini_marg {
    margin-right: 4px;
}

.row__block {
    flex-shrink: 0;
    @extend %border-bottom;
    width: calc(100% - 120px);
    margin: 0 60px;
    box-sizing: border-box;
    min-height: 40px;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.end_group {
    background: #f5f9fd;
    height: 40px;
    width: 100%;
    margin: 0;
    border-bottom: none;
    padding: 0 60px;
    box-sizing: border-box;
    justify-content: space-between;

    
}

.input_fields {
    height: 100%;
    resize: none;
    line-height: 40px;
    height: 40px;
    border: none;
    background: transparent;
    outline: none;
    overflow: hidden;
    flex-grow: 1;
    font-family: 'Roboto-Regular' ,Arial, sans-serif;
    color:$text-color;
    padding: 0;
    margin: 0;
}

.new_message__bables {
    @include bables;
    
    cursor: pointer;
    p, input{
        margin-right: 10px;
        width: 100%;
        height: 100%;
    }
    p {
        user-select: none;
    }
    input {
        color:#2575ec;
    }

}

.left__group {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.other__text {
    @extend %title_text;
    font-size: 13px;
}

button {
    margin: 0;
}


.not__addressess {
    display: none;
}

.message__preload {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    p {
        color:white;
    }
}

.newMessage__container {
    height: calc(100vh - 60px);
        position: relative;
}

.cssload-speeding-wheel {
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
}


label {
    display: flex;
    align-items: center;
    padding: 0 4px;
    box-sizing: border-box;
    width: auto;
    height: 30px;
    transition: .2s;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background: rgba(75, 121, 187, 0.3);
    }
}

.file_btn {
   display: none;
}

.drag_start {
    background: rgba($color: #000000, $alpha: .5)
}

.drag_region {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .5);
            z-index: 5;
            display: none;
            justify-content: center;
            align-items: center;
            border: 4px dashed black;
            box-sizing: border-box;

            &::before {
                content: 'Брось файл ТУТ';
                position: absolute;
                font-size: 36px;
                color:white;
                
            }
}

.attachments {
    // max-height: 200px;
    // min-height: 50px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: #f5f9fd;
    margin-bottom: 5px;
    border-bottom: 1px solid $border;
}
.attach_scrollBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    overflow: auto;
    
    
}

.attach_group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 0 60px;
    height: 40px;
    box-sizing: border-box;


    .la-close {
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            background: #6b80a0;
        }
    }
}
.filename {
    color: $text-color;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    line-height: 15px;
    margin-right: 15px;
    
}

.size {
    flex-shrink: 0;
    font-size: 10px;
    color: #b2b2b2;
}

.name__block {
    width: 50%;
    display: flex;
    align-items: center;
}


.open {
    display: flex;
}

.qu__bottom_block {
    display: flex;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.save_templ {
    width: auto;
    padding: 0 4px;
    box-sizing: border-box;
    margin-left: 8px;
}


.visibl {
    display: flex;
}

.hidden_block {
    position: absolute;
    top:100%;
    background: white;
    box-shadow: -7px 0 18px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
    box-sizing: border-box;
    width: 100%;
    display: none;
    &.visibl {
        display: list-item;
    }

    li {
        font-size: 13px;
        line-height: 25px;
        color: black;
        opacity: .5;
        height: 40px;
        line-height: 40px;
        transition: .4s;
        padding-left: 8px;
        cursor: pointer;
        &:hover {
            background: #d1d5db;
        }
    }
}


.babl__menu {
    @include hideMenu (200px, auto, 115%, 50%, white);
    animation: none;
    
    transform: translateX(50%);

    &_btn {
        width: 100%;

        display: flex;
        align-items: center;
        padding: 5px 10px;
        box-sizing: border-box;
    }

    &.visible {
        display: flex;
    }
}





    .hidden_template_create {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .3);
        z-index: 50;
        display: none;
        justify-content: center;
        align-items: center;
        &.visibl {
            display: flex;
        }
    }

    .templ_name {

        box-sizing: border-box;
        width: 600px;
        height: 236px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        background: #F7FBFE;
        border: 1px solid #F7FBFE;
        border-radius: 2px;
    
    }

    .row__names {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        margin: 15px 0 25px 0;
        padding: 0 20px;
        box-sizing: border-box;
         
        p{
            font-size: 13px;
            color: #262626;
            margin-right: 20px;
            flex-shrink: 0;
        }
    
        input {
                flex: 1;
                height: 34px;
                border: 1px solid #D9E6F7;
                box-sizing: border-box;
                border-radius: 2px;
                padding: 0 10px;
                background: white;
    
                &:hover {
                    border-color: #0476C3;
                }
    
                &:focus {
                    border-color: #0476C3;
                }
        }
    }


    .title_txt {
        background: white;
        color: #262626;
    }

    .buttons_block {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        height: 28px;
        display: flex;
        justify-content: flex-end;

    }


    .favorite {
        width: 155px;
        height: 24px;
        font-size: 13px;
        color: #074B86;
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 12px;

        &:hover span::before {
            content: "\f318";
        }

        span {
            color: #074B86;
            margin-right: 6px; 
        }
    }









