<button class='preserver_starter'
[ngClass]="{active_btn: hidden_preserver}"
(click)='toggle_state_pres()'
>
  <span class='la la-bookmark'></span>
        <p class="tooltip">Закладки</p>
        <div class="hidden_preserver"
        [ngClass]="{open_preserver: hidden_preserver}">
          <button *ngFor="let urls of this.urls_array, let i = index"
    
         
          routerLink="{{this.urls_array[i].url_states}}"
          (click) = 'state_url_go(i)'
          ><span class='la la-bookmark'></span></button>
      </div>
</button>
