

$header_color: #1b2f4d;
$border_color: #c4cbe1;
$black-text_color: #000;
$border-bottom_color: #c3c5c7;
$micro-text_color: #858585;
$profile_color: #0f154b;

$notification-one_color: #e03232;
$notification-two_color: #e6b000;

$nav-bg: #001e47;
$nav-color: #dbdddf;

$border: #c4c4c4; //все бордеры
$title-text-gray: #6b6d6f;
$status-icons-color: #97b4cc; //иконки статус письма
$avatar_bcg: #cbdaeb;
$time-icons: rgba(51, 51, 51, .5);
$time-icons-new: rgba(51, 51, 51, 1);

$icons-color: #4b4d4f; //иконки в хэдере компонентов

$scrollBar-color: #4b4d4f;


$text-color: #282627;

