
@import '../mixins';
.empty__cont {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     p{
        width: 230px;
        font-size: 16px;
        line-height: 1.5;
        color: #262626;
        margin: 20px 0;
        text-align: center;
     }

}

.wave_svg{
    animation: wave_anim 3s linear;
    stroke-width: 1.5;
    stroke: #4AB7FF;
    stroke-dasharray: 200;
  stroke-dashoffset: 1;
       }



@keyframes wave_anim {
    from {
        stroke-dashoffset: 200;
    }
to {
    stroke-dashoffset: 0;

}
}


.main__butt {
    width: 200px;
    background: #d9e6f7;
}