<div class='bables_view' (click) = 'this.show_bables($event)'
              [ngClass]="{active_babl: this.show_bables_state}"
              >
                
                <p class='full_name' *ngIf="this.name !== null">{{this.name}}</p>
                <p class='email__name' title="{{this.email}}">{{this.email}}</p>
                  <app-bubble-menu 
                  [change_menu_state] = 'show_bables_state'
                  [name_params] = 'this.email'
                  ></app-bubble-menu>
              </div>
    <div class="hidden_pop-up" [ngClass]="{active: this.show_bables_state}" (click) = 'this.show_bables($event, true)'></div>