<div class="folders" [ngClass]="{visible: this.state_open}">

    <p class="title_txt">Выберите папку</p>
        <ul class='inbox'>
                <li>
                        <div class="wrapper" data-id={{1}} (click)='change_folder($event)'
                        [ngClass]="{non_activ: this.emailServ.selectedMess === 1}">
                    <span class='folders_span'></span>
                      <p class='folders_name' 
                      >Входящие</p>
                        </div>
                     
        
    <ul *ngFor="let folder of this.all_folders[0]">
        <li>
            <div class="wrapper"
            [ngClass]="{non_activ: this.emailServ.selectedMess === folder.id}"
            data-id={{folder.id}} (click)='change_folder($event)'
            >
            <span class='folders_span'></span>
              <p class='folders_name' >{{folder.title}}</p>
            </div>
            </li>
                      <ul *ngFor="let folder_1level of folder.childs">
                      <li>
                          <div class="wrapper"
                          [ngClass]="{non_activ: this.emailServ.selectedMess === folder_1level.id}"
                          data-id={{folder_1level.id}} 
                      (click)='change_folder($event)'
                          >
                          <span class='folders_span'></span>
                      <p class='folders_name' >{{folder_1level.title}}</p>
                    </div>
                    </li>
                          <ul *ngFor="let folder_2level of folder_1level.childs">
                            <li>
                                <div class="wrapper"
                                [ngClass]="{non_activ: this.emailServ.selectedMess === folder_2level.id}"
                                data-id={{folder_2level.id}}
                                (click)='change_folder($event)'
                                >
                                <span class='folders_span' ></span>
                              <p class='folders_name' >{{folder_2level.title}}</p>
                            </div>
                            </li>
                              <ul *ngFor="let folder_3level of folder_2level.childs">
                                  <li>
                                      <div class="wrapper" [ngClass]="{non_activ: this.emailServ.selectedMess === folder_3level.id}"
                                      data-id={{folder_3level.id}}
                                      (click)='change_folder($event)'>
                                    <span class='folders_span'></span>
                                    <p class='folders_name'>{{folder_3level.title}}</p>
                                    </div>
                                    </li>

                                    <ul *ngFor="let folder_MAXlevel of folder_3level.childs">
                                            <li>
                                                <div class="wrapper non_activ"
                                                data-id={{folder_MAXlevel.id}}
                                                (click)='change_folder($event)'>
                                              <span class='folders_span'></span>
                                              <p class='folders_name'>{{folder_MAXlevel.title}}</p>
                                              </div>
                                            </li>
                                          </ul>
                                </ul>
                          </ul>
                      </ul>
        
  </ul>
</li>
</ul>

</div>
